.fantasy-team-bar .flag {
margin-top: 2px;
margin-bottom: 3px;
vertical-align: middle;
}

.fantasy-team-bar .title {
color: #999;
margin-bottom: 0;
margin-top: 10px;
line-height: 25px;
}

.fantasy-team-bar .title .username {
max-width: 200px;
display: inline-block;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
padding-right: 3px;
}

.fantasy-team-bar .title .flag {
margin-right: 3px;
}

.fantasy-team-bar .team-champions {
position: absolute;
top: 0;
right: 0;
}

.fantasy-team-bar .team-stats {
margin: 0 20px 10px 20px;
font-size: 14px;
text-align: left;
}

.fantasy-team-bar .team-stat {
margin-right: 5px;
color: #666;
}

.fantasy-team-bar>.content {
position: relative;
}

.fantasy-team-bar .team-champions .champion-slot {
cursor: pointer;
-webkit-transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
-moz-transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
-o-transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
}

.fantasy-team-bar .champion-slot:hover {
box-shadow: 0 0 8px 1px rgba(0, 136, 204, 1);
}

.fantasy-team-bar .team-champions .champion-free,.fantasy-team-bar .team-champions .champion-illegal {

}

.fantasy-team-bar .team-champions .champion-illegal img {
opacity: 0.5;
}

.fantasy-team-bar .team-champions.disabled .champion-slot {
cursor: default;
}

.fantasy-team-bar .champion-slot .thumbnail {
width: 55px;
height: 55px;
padding: 0;
margin: 5px;
background: black;
border-radius: 0;
position: relative;
}

.fantasy-team-bar .champion-slot .thumbnail img {
max-width: 100%;
display: block;
}

.fantasy-team-bar .champion-slot-empty img {
opacity: 0.4;
}

.fantasy-team-bar .champion-slot .thumbnail .th-overlay {
display: none;
}

.fantasy-team-bar .champion-illegal .thumbnail .th-overlay {
display: block;
background: url(../img/warning_32.png) no-repeat center center;
width: 60px;
height: 60px;
position: absolute;
top: 0;
left: 0;
}

table.grid {
width: 100%;
border-collapse: collapse;
padding: 0;
}
table.grid td {
white-space: nowrap;
padding-left: 20px;
}
table.grid thead td {
color: #444;
line-height: 35px;
font-size: 18px;
font-weight: normal;
text-shadow: none;
}
table.grid tbody td {
line-height: 30px;
color: #999;
text-shadow: 1px 1px 0 black;
}
table.grid thead td:first-child {
border-top-left-radius: 6px;
}
table.grid thead td:last-child {
border-top-right-radius: 6px;
}
table.grid thead tr td {
background: rgba(255, 255, 255, 0.025);
}
table.grid thead tr td:first-child,table.grid tbody tr td:first-child {
padding-left: 20px;
}
table.grid thead tr td:last-child,table.grid tbody tr td:last-child {
padding-right: 20px;
}
table.grid tbody tr:nth-child(odd) td {
background: rgba(255, 255, 255, 0.04);
}
table.grid tbody tr:nth-child(even) td {
background: rgba(255, 255, 255, 0.025);
}
table.grid tbody tr.on>td {
background: rgba(255, 255, 255, 0.04);
}
table.grid tbody tr.off>td {
background: rgba(255, 255, 255, 0.025);
}
table.grid .rank {
margin-right: 5px;
}

.content .stream:first-child table.grid thead td:last-child {
border-top-right-radius: 0;
}

.content .stream:last-child table.grid thead td:first-child {
border-top-left-radius: 0;
}

table .team-champions {
overflow: auto;
}

table .team-champions .thumbnail {
float: left;
margin: 0;
padding: 0;
background: none;
border: none;
}

.games .game-header {
color: #444;
line-height: 25px;
padding: 0 5px;
text-align: left;
font-size: 12px;
clear: both;
}

.game-team1 {
border-top-left-radius: 6px;
border-bottom-left-radius: 6px;
border-right: 1px solid rgba(0, 0, 0, 0.25);
margin-left: -1px;
background: rgba(255, 255, 255, 0.02);
}

.game-team2 {
border-top-right-radius: 6px;
border-bottom-right-radius: 6px;
border-left: 1px solid rgba(255, 255, 255, 0.025);
margin-right: -1px;
background: rgba(255, 255, 255, 0.02);
}

.game-team-win {

}

.game-team-lose {

}

.game time {
display: block;
line-height: 24px;
color: #444;
text-align: left;
margin-top: 4px;
}

.game .game-champion,.game .game-team-bans {
clear: both;
width: 100%;
position: relative;
border-top: 1px solid rgba(255, 255, 255, 0.025);
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.game .game-champion:last-child,.game .game-team-bans {
border-bottom: none;
}

.game .game-champion:first-child {
border-top: none;
}

.game .game-champion .thumbnail {
position: absolute;
top: 0;
background: none;
border: none;
border-radius: 0;
margin: 0;
padding: 0;
width: 42px;
height: 42px;
}

.game .game-champion .thumbnail img {
max-width: 100%;
border-radius: 4px;
}

.game .game-champion .summoner-detail {
line-height: 20px;
padding: 0 5px;
}

.game .game-champion .summoner-detail .name {
text-shadow: none;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
padding-top: 0;
}

.game .game-champion .summoner-detail .name a {
font-size: 12px;
}

.game .game-champion .summoner-detail .points {
padding-bottom: 0;
color: #333;
font-size: 14px;
}

.game-team1 .game-champion .thumbnail {
left: 0;
}

.game-team2 .game-champion .thumbnail {
right: 0;
}

.game-team1 .game-champion .summoner-detail {
margin-left: 44px;
text-align: left;
}

.game-team2 .game-champion .summoner-detail {
margin-right: 48px;
text-align: right;
}

.games .game:nth-child(3n+1)>div {
margin-right: 24px;
}

.games .game:nth-child(3n+2)>div {
margin: 0 12px;
}

.games .game:nth-child(3n+3)>div {
margin-left: 24px;
}

.game .game-team-bans .champion {
margin: 15px 5px 0 5px;
float: left;
}

.game .game-team-bans .champion img {
width: 55px;
height: 55px;
}

.challengeForm {
text-align: center;
margin: 20px 0;
width: 100%;
}

.nav #serverStatus {
line-height: 38px;
display: block;
font-size: 12px;
}

.nav #serverStatus .online {
color: #1a6f00;
}

.nav #serverStatus .offline {
color: #8a1919;
}


.game-team-bar .game-team {	
padding:3px;
border-radius:4px;
line-height:25px;
}
.game-team-bar img {
display:block;
float:left;
}
.game-team-bar-horizontal {
min-width:240px;
}
.game-team-bar-horizontal img {
border-radius:4px;
overflow: hidden;
}
#activeGame.game-vertical .game-team {
margin-top: 3px;	
}
#activeGame.game-vertical .game-team-purple,
#activeGame.game-horizontal .game-team-purple {
background: #720072; /* Old browsers */
background: -moz-linear-gradient(top,  #720072 0%, #220023 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#720072), color-stop(100%,#220023)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #720072 0%,#220023 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #720072 0%,#220023 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #720072 0%,#220023 100%); /* IE10+ */
background: linear-gradient(to bottom,  #720072 0%,#220023 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#720072', endColorstr='#220023',GradientType=0 ); /* IE6-9 */
}
#activeGame.game-vertical .game-team-blue,
#activeGame.game-horizontal .game-team-blue {
background: #003eba; 
background: -moz-linear-gradient(top,  #003eba 0%, #101d4c 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003eba), color-stop(100%,#101d4c)); 
background: -webkit-linear-gradient(top,  #003eba 0%,#101d4c 100%); 
background: -o-linear-gradient(top,  #003eba 0%,#101d4c 100%); 
background: -ms-linear-gradient(top,  #003eba 0%,#101d4c 100%);
background: linear-gradient(to bottom,  #003eba 0%,#101d4c 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003eba', endColorstr='#101d4c',GradientType=0 );
}

#activeGame .ingame-progress-text {
position:absolute; left:50%; top:0;
}
#activeGame .ingame-progress-text > div {
margin-left:-50%;
margin-top:15px;
width:250px;
color: rgba(255,255,255,0.9);
text-shadow: 1px 1px black;
text-align: center;
}
#activeGame .game-team-purple {
padding:15px 20px 15px 50px;
border-radius:0 4px 4px 0;
}
#activeGame .game-team-blue {
padding:15px 50px 15px 15px;
border-radius:4px 0 0 4px;
}

#activeGame.game-horizontal .champion:hover img {
box-shadow: 0 0 8px 1px rgba(0, 136, 204, 1);	
}
#activeGame.game-horizontal .champion {
display: block;
float:left;
}
#activeGame.game-horizontal .game-team-purple {
margin-left:-5px;
}
#activeGame.game-horizontal .game-team-blue {
margin-right:-5px;
}
#activeGame.game-horizontal .champion {
margin-left:5px;	
}

#activeGame.game-vertical a {
color: rgba(255,255,255,0.75);
text-shadow:1px 1px rgba(0,0,0,0.5);
}
#activeGame.game-vertical a:hover {
color: white;
text-shadow:1px 1px rgba(0,0,0,0.8);
}
#activeGame.game-vertical .champion {
display: block;	
}
#activeGame.game-vertical .game-team-purple .champion {
text-align:right;
}
#activeGame.game-vertical .game-team-purple h4,
#activeGame.game-vertical .game-team-blue h4 {
color: white;
text-shadow:1px 1px rgba(0,0,0,0.8);	
margin-top:0;	
line-height:24px;
border-bottom:1px solid rgba(255,255,255,0.25);	
}
#activeGame.game-vertical .game-team-blue h4 {
text-align:left;
}
#activeGame.game-vertical .game-team-purple h4 {
text-align:right;
}