/** INBOX **/
body#messages section h4,
body#message section h4 {
  margin-left: 10px;
  color: #737373;
  font-size: 16px;
  font-weight: normal;
}
table.messages {
  display: table;
  table-layout: fixed;
  width: 100%;
}
table.messages colgroup .c1 {
  width: 35px;
}
table.messages colgroup .c2 {
  width: 200px;
}
table.messages colgroup .c3 {
  width: auto;
}
table.messages colgroup .c4 {
  width: 230px;
}
table.messages td {
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
}
table.messages td.timestamp {
  text-align: right;
}
table.messages tr td.selector:hover {
  cursor: default;
  color: #eee;
}
table.messages tr.pressed td.selector,
table.messages tr td.selector.active {
  color: #fff;
}
table.messages .count {
  font-weight: normal;
  color: #444;
}
table.messages .message span {
  font-family: Helvetica,"Trebuchet MS",Verdana,sans-serif;
  color: #444;
  font-size: 13px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
table.messages.grid tbody tr:nth-child(odd) td {
  background: none;
}
table#inbox td.from {
  color: #EEE;
  font-weight: bold;
}
table#read td.from a {
  color: #999;
}
table#read td.from a,
table#inbox td.from a {
  text-decoration: none;
}


.ds-block-reduced {
  margin:10px 20px;
}

/** MESSAGES **/
.message-list .message-hidden .message-content,
.message-list .message-active .message-summary {
  display: none;
}
.message-list .message-hidden {
  min-height: 20px;
}
.message-list .message {
  border-bottom: 1px solid #151515;
  margin: 5px 0;
}

.message-list .message {
  position: relative;
  margin-left: 0;
  width: 90%;
}
.message-list .message.message-me {
  margin-left: 0;
  background-color: rgba(0,0,0,0.4);
  float: right;
}
.message-list .message.message-notme {
  margin-left: 0;
  background-color: #000;
  float: left;
}
.message-list .message.message-notme .speech-arrow {
  top: 15px;
  left: -5px;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 5px 0;
  border-color: transparent rgba(0,0,0,0.6) transparent transparent;
}
.message-list .message-summary,
.message-list .message-header {
  cursor: pointer;
}
.message-list .page-title {
  margin: 10px 10px 20px 10px;
}
.message-list .message-snippet  {
  font-size: 13px;
}
.message-list .message .message-txt {
  margin: 20px 10px 20px 20px;
  /* pre-wrap can also be used; pre-line collapses multiple white space characters. */
  white-space: pre-line;
  word-break: break-all;
  font-size: 14px;
}
.message-list .message-header,
.message-list .message-users {
  margin: 10px;
}

.message-list .message-notme .message-from {
  color: #DFDFDF;
}

.message-list .message-me .message-from span {
  color: #666;
}

.message-list .message-summary {
  position: relative;
  padding: 10px 200px 10px 10px;
  height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.message-list .message-summary .message-snippet {
  padding-left: 1em;
  color: #444;
}
.message-list .message-summary .message-date {
  position: absolute;
  right: 10px;
}
.message-list .message-date {
  color: #666;
}

.message-reply {
  clear: both;
  margin-top: 5px;
}
.message-reply {
  margin-top: 10px;
  line-height: 30px;
}
.message-reply > div {
  margin: 10px 20px;
}

.message-list-title {
  margin-bottom: 20px;
}

.collapsed-group .message,
.collapsed-group.active .collapsed-group-label {
  display: none;
}
.collapsed-group.active .message {
  display: inherit;
}
.collapsed-group-label {
  margin-bottom: 10px;
  line-height: 30px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 4px;
  text-align: center;
}
.collapsed-group-line {
  border-top: 1px solid #333;
  background-color: #0D0D0D;
  height: 8px;
}

/** COMPOSE **/
#compose .modal-header {
  background: #555;
  border-radius: 4px 4px 0 0;
}
#compose .modal-header h4 {
  font-weight: normal;
  font-size: 14px;
}
#compose .modal-recipients {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid #e5e5e5;
}
#compose .modal-body {
  padding: 0;
}
#compose .modal-footer {
  text-align: left;
  margin: 0;
}

#compose textarea#compose-message,
#compose input#compose-recipients {
  width: 100%;
  border: none;
  outline: none;
}
#compose input#compose-recipients {
  width: calc(100% - 100px);
}
#compose textarea#compose-message:disabled,
#compose input#compose-recipients:disabled {
  background-color: white;
}
#compose textarea#compose-message {
  padding: 15px;
  resize: vertical;
  min-height: 125px;
}
#compose .modal-message {
  margin-left: 10px;
}
#message-alerts .alert-info {
  margin-bottom: 0;
}
#compose .modal-recipients .recipient {
  font-size: 13px;
  vertical-align: top;
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 0 3px 0 5px;
  margin: 5px 5px 5px 0;
}
#compose .modal-recipients .recipient.group {
  background-color: #428BCA;
  border: 1px solid #357EBD;
}
#compose .modal-recipients .recipient.group span,
#compose .modal-recipients .recipient.group i {
  color: white;
}
#compose .modal-recipients .recipient-name {
  color: #222;
}
#compose .remove-recipient {
  font-size: 9px;
  cursor: pointer;
}
#compose .remove-recipient:hover {
  color: #222;
}
#compose .modal-settings {
  margin-bottom: 15px;
}
#compose .modal-settings label {
  margin:0;
  padding:0;
  font-weight: normal;
}
.icon-message-read, .icon-message-unread {
  margin: 2px 0 0 10px;
}
.icon-message-read {
  color: #158943;
}
.icon-message-unread {
  color: #494949;
}
