@screen-xxs-max: 600px;
@screen-xs-max: 767px;
@screen-sm-min: 768px; /* if you change this value, you need to change the value in ui.js ^disableWidth */
@screen-sm-max: 991px;
@screen-md-min: 992px;
@screen-md-max: 1199px;
@screen-lg-min: 1200px;

html,
body{
  height: 100%;
}

body {
  background: #111 url("../img/body-bg.png") repeat top center;
  position: relative;
  color: #999;
  margin: 0;
  padding: 0;
}

/* Removes bootstrap column padding */
.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@-moz-keyframes spin { 
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin { 
  0% { -webkit-transform: rotate(0deg); }
  100%{ -webkit-transform: rotate(-360deg); }
}
@-webkit-keyframes whitetxtglow { 
  0% { text-shadow: 0 0 0 rgba(0, 136, 204, 0); }
  50% { text-shadow: 0 0 4px rgba(0,136,204,1); color: white; }
  100%{ text-shadow: 0 0 4px rgba(0,136,204,0); }
}
@-moz-keyframes whitetxtglow { 
  0% { text-shadow: 0 0 0 rgba(0, 136, 204, 0); }
  50% { text-shadow: 0 0 4px rgba(0,136,204,1); color: white; }
  100%{ text-shadow: 0 0 4px rgba(0,136,204,0); }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  z-index: 49;
}

@media (min-width: @screen-lg-min) {
  .navbar .container-fluid {
    max-width: 1170px;
  }
}

.navbar {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.navbar #menubtn {
  display: none;
}
.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

@media (max-width: @screen-xs-max) {
  .navbar {
    min-height: 30px;

    #menubtn {
      display: inherit;

      a {
        padding-left: 0;
        padding-right: 0;

        .menuicon {
          display: inline-block;

          &:before {
            display: block;
            content: "";
            border-bottom: 6px double white;
            border-top: 2px solid white;
            height: 10px;
            width: 16px;
          }
        }

        &.collapsed .menuicon:before {
          border-color: #999;
        }
      }
    }

    .navbar-collapse {
      &.collapse {
        display: none;
      }

      &.in {
        display: block;
      }

      & > ul > li {
        float: left;
        clear: left;
      }
    }
  }

  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

body.embed {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

section {
  margin-top: 15px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #000;
  border-bottom: 1px solid #222;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "HelveticaNeue-CondensedBold", "ArialNarrow-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #d4d4d4;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  color: #666;
}

blockquote {
  border-color: #111;
}

.ds-block {
  margin: 20px;
}

span.subtle {
  opacity: 0.25;
}

small.subtle {
  opacity: 0.4;
}

i.subtle {
  opacity: 0.4;
}

.nav,.nav a,.nav li {
  outline: none;
}

input[disabled] {
  opacity: 0.5 !important;
}

.breadcrumb {
  background-color: #030303;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.breadcrumb>li+li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #333;
}

label small {
  opacity: 0.5;
  font-weight: normal;
}

.form-actions {
  border-top-color: #222;
  background: rgba(255, 255, 255, 0.02);
  border-radius:0 0 4px 4px;
  padding: 20px;
}

.loading {
  white-space: nowrap;
  color: #999;
  margin: 20px;
  text-shadow: 0 0 3px white;
  -webkit-animation: whitetxtglow 3s ease-in infinite;
  -moz-animation: whitetxtglow 3s ease-in infinite;
}

.tab-pane > .content {
  margin-top: 15px;
}

.navbar-subnav,
.navbar-subnav .navbar-inner {
  margin:0;
  padding-left:0;
}
.navbar-subnav .navbar-inner ul > li:first-child a {
  border-radius: 4px 0 0 4px;
}

.alert-subtle {
  text-align: center;
  color: #999;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
  background: none;
  border: none;
}
.alert-subtle h4 {
  color: #999;
}

/**
 * Header band
 **/
#header-band {
  overflow: hidden;
  border-bottom: 1px solid #191919;
  background: rgba(0, 0, 0, 0.76) url("../img/cloud-bg.jpg") repeat-x -400px -50px;
  padding: 0;
  margin: 0;
}
#overview {
  color: white;
  position: relative;
}
#overview,
#overview a {
  height: 110px;  
  margin:0;
  padding: 0;
  background: none;
}
#overview h1 {
  margin:0;
}
#overview a {
  left:0;
  top:0;
  background: url("../img/logo-destinygg-m.png") no-repeat -25px center;
  width: 400px;
  position: absolute;
  text-indent: -999em;
}
#destiny-illustration {
  background: url("../img/illustration-sm.png") no-repeat top left;
  width: 500px;
  height: 109px;
  position: absolute;
  top: 0;
  right: 0;
}

/**
 * Smaller header band
 */
body.thin #header-band {

  #overview,
  #overview h1 {
    height: 80px;
  }
  #destiny-illustration {
    background-position: 0 -20px;
    height: 79px;
  }
  & > .container {
    position: relative;
    margin: 0 auto;
  }
  .nav-pills {
    font-size:12px;
  }
  .nav-pills>li>a {
    color:#666;
    background-color:rgba(255,255,255,0.05);
    margin-left:10px;
  }
  .nav-pills>.active>a,
  .nav-pills>.active>a:hover,
  .nav-pills>.active>a:focus{
    color:#fafafa;
    background-color:rgba(255,255,255,0.05);
  }
  .nav-pills > li > a:hover,
  .nav-pills > li > a:focus {
    color:#fff;
    background-color:rgba(255,255,255,0.1);
  }
  .nav-pills li a {
    padding: 0 5px;
  }
  .nav-pills li {
    float:left;
  }
  #top-navigation {
    position: absolute;
    width:400px;
    top:25px;
    right:0;
  }

}

/**
 * Top navigation
 */
#main-nav {
  .navbar-inner {
    border-bottom: 1px solid #000;
  }
  .subscribe > a > span,
  .admin > a > span {
    background-color: #b91010;
    border-radius: 8px;
    color: #fafafa;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.25);
    padding: 1px 4px;
  }
  .subscribe > a:hover > span,
  .admin > a:hover > span {
    color: #fafafa; 
    background-color: #f00; 
  }
  .brand {
    display: none;
  }
  .dropdown-menu {
    background-color: rgba(22,22,22,0.95);
  }
  .dropdown-menu .divider {
    background-color: #333;
  }
  .dropdown-menu > li > a {
    color: #999;
    text-shadow: 1px 1px 0 rgba(0,0,0,0.5);
  }
  .dropdown-menu > li > a:hover, 
  .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: transparent;
    color: #ddd;
  }
}


.content-dark {
  border-radius: 6px;
  background-color: #111;
  background-color: rgba(0, 0, 0, 0.6);
}

.content-dark {
  h4 {
    color: #444;
    line-height: 20px;
    font-size: 18px;
    font-weight: normal;
    text-shadow: none;
    margin:0 0 10px 0;
  }
  .thumbnail h3 {
    color: #cacaca;
  }
  .title {
    font-size: 22px;
    font-weight: normal;
    color: #666;
    margin: 15px 20px;
  }
  .thumbnail {
    border: none;
    background-color: #111;
    text-shadow: 1px 1px 0 black;
  }
  .thumbnail p {
    color: #888;
  }
}

.content-embed {
  padding: 5px;
  border-radius: 6px;
  background: white;
}

.content-header {
  padding: 20px;
  background: #111;
  border-bottom: 1px solid #000;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.content-dark .block-foot {
  margin: 15px 0 0 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  clear: both;
}

i.icon-bobross {
  background: url("../../favicon.png") no-repeat center center;
  margin-bottom: 1px;
  margin-top: 0;
  width:16px;
  height:16px;
  display: inline-block;
}
i.icon-bobross {
  -webkit-transform: rotate(0deg);
  -webkit-transition: rotate 0.2s ease-in-out;
  -moz-transition: rotate 0.2s ease-in-out;
  -o-transition: rotate 0.2s ease-in-out;
  transition: rotate 0.2s ease-in-out;  
}
a:hover i.icon-bobross {
  -moz-animation: spin 3s infinite linear;
  -webkit-animation: spin 3s infinite linear;
}

i.icon-twitch,
i.icon-twitter,
i.icon-google,
i.icon-reddit {
  width:16px;
  height:16px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}
i.icon-twitch {
  background-image: url(../img/ico/twitch_16.png);
}
i.icon-twitter {
  background-image: url(../img/ico/twitter_16.png);
}
i.icon-google {
  background-image: url(../img/ico/google_16.png);
}
i.icon-reddit {
  background-image: url(../img/ico/reddit_16.png);
}

.stream {
  .thumbnails {
    margin: 0;
    padding: 20px 0 0 0;
    border-top: 1px solid #121212;
    list-style: none;
  }
  .thumbnails:after,
  .thumbnails:before {
    content: " ";
    display: table;
    clear: both;
  }
  .thumbnails .loading {
    margin-top: 0;
  }
  .thumbnails li {
    margin: 0;
    width: 24.2%;
    float: left;
  }
  .thumbnails .thumbnail {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .thumbnails .thumbnail img {
    max-width: 100%;
    border-radius: 3px;
  }
  .thumbnails .thumbnail:hover {
    box-shadow: 0 0 8px rgba(0, 136, 204, 1);
  }
  .title {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 20px;
    margin: 0;
    min-height: 42px;
  }
  .title a {
    font-size: 14px;
    text-decoration: none;
  }
  .media {
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    color: #a5a5a5;
    background: rgba(15, 15, 15, 0.5);
    border-top: 1px solid #121212;
    border-bottom: 1px solid #010101;
    padding: 10px 10px 10px 20px;
    overflow: hidden;
    margin: 0; 
    height: 90px;
  }
  .media:hover {
    text-shadow: none;
    color: #c9c9c9;
    background: none;
    background-color: rgba(255, 255, 255, 0.1);
  }
  .media:last-child {
    border-bottom: none;
  }
  .thumbnails-loading {
    opacity: 0.25;
  }
  .entries {
    min-height: 200px;
  }
  .media-body time {
    font-size: 12px;
    color: #666;
  }
}

.stream:first-child .media {
  border-right: 1px solid #010101;
}
.stream:last-child .media {
  border-left: 1px solid #121212;
}
.stream:first-child .media:last-child {
  border-bottom-left-radius: 6px;
}
.stream:last-child .media:last-child {
  border-bottom-right-radius: 6px;
}

.content-split .stream:first-child .thumbnails {
  border-right: 1px solid #010101;
}
.content-split .stream:last-child .thumbnails {
  border-left: 1px solid #121212;
}

.stream-grid {
  width: 50%;
}
.stream-grid {
  .stream-grid:first-child {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    margin-left: -1px;
  }
  .stream-grid:first-child {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    margin-right: -1px;
  }
}


#stream-lastfm {

  .media-heading {
    color: #c9c9c9;
    font-weight: normal;
  }

  .media-heading,
  .album,
  .artist {
    overflow: ellipsis;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .media-heading,
  .artist {
    height: 20px;
  }

  .album {
    height: 15px;
    display: block;
    max-width: 270px;
    line-height: 15px;
  }

  .cover-image {
    width: 64px;
    height: 64px;
  }

  .trackname,
  .artist {
    margin-bottom: 2px;
  }
}


#stream-blog .media-heading {
  overflow: ellipsis;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20px;
}

#stream-twitter .media-heading {
  font-size: 85%;
}


#dc-donate-xs {
  text-align: center;
}
#dc-donate-xs p {
  font-size: 18px;
}
#dc-donate {
  margin-top: 40px;

  .dc-donate-blk {
    float: left;
  }
  .dc-donate-blk:nth-child(1) {
    text-align: left;
  }
  .dc-donate-blk:nth-child(2) {
    text-align: center;
  }
  .dc-donate-blk:nth-child(3) {
    text-align: right;
  }
}

#dc-donate-wrap {
  display: flex;
  justify-content: space-around;
}

@media (max-width: @screen-xxs-max) {
  #dc-donate-wrap {
    display: block;
  }
  #dc-donate .dc-donate-blk {
    float: none;
    display: block;
    text-align: center !important;
    margin-bottom: 20px;
  }
}

#donate-block {
  height: 250px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  p {
    color: #cacaca;
    padding: 40px 30px 10px;
    font-size: 18px;
  }
  &:hover .paypal-payment-methods {
    background-position: top center;
  }
}

#paypal-form {
  position: absolute;
  top:0;
  left:0;
}

.paypal-payment-methods {
  background: url("../img/payment-types.png") no-repeat bottom center;
  width: 211px;
  height: 28px;
  display: block;
  margin: 20px auto 0 auto;
}

.btn-paypal {
  font-weight: bold;
  font-size: 20px;
  color: #003366;
  border-radius: 22px;
  border: 1px solid #ff9933;
  background: rgb(252, 234, 187);
  background: -moz-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100% );
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(252, 234, 187, 1) ), color-stop(50%, rgba(252, 205, 77, 1) ), color-stop(51%, rgba(248, 181, 0, 1) ), color-stop(100%, rgba(251, 223, 147, 1) ) );
  background: -webkit-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100% );
  background: -o-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100% );
  background: -ms-linear-gradient(top, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100% );
  background: linear-gradient(to bottom, rgba(252, 234, 187, 1) 0%, rgba(252, 205, 77, 1) 50%, rgba(248, 181, 0, 1) 51%, rgba(251, 223, 147, 1) 100% );
}

#footer {
  color: #444;
  font-size: 12px;
  line-height: 18px;
  position: relative;
  text-shadow: 1px 1px 1px black;
  background-color: rgba(0,0,0,0.4);
  border-top: 1px solid #181818;
  padding: 0;
  margin-top: 39px;
}
#footer {

  h3 {
    color: #444;
    line-height: 22px;
    margin-top: 0;
  }
  a {
    color: #888;
  }
  a:hover {
    color: #fff;
    text-decoration: none;
  }
  #footer-inner {
    height: 100%;
  }
  #footer-copyright {
    h3 {
      font-size: 22px;
    }
  }
  #footer-badges {
    h3 {
      font-size: 18px;
    }
  }
  #footer-thanks {
    h3 {
      font-size: 18px;
    }
  }

  #footer-links {
     box-shadow: 0 1px 0 #151515;
     border-bottom: 1px solid #000;
  }

  #footer-copyright,
  #footer-badges,
  #footer-thanks {
    margin: 30px 0 20px 0;
  }
}

#page-wrap {
  min-height: 100%;
  margin-bottom: -245px; 
}
#page-wrap:after {
  content: "";
  display: block;
}
#page-wrap:after {
  height: 245px; 
}

/**
 * Bootstrap overrides 
 */
.popover-title,
.popover-content {
  color: #444;
  text-shadow: none;
}
.popover-title {
  color: #333;
}
.nav.navbar-inverse > li > a:hover {
  color: #ccc;
  text-decoration: none;
  border-color: #444 #222 #222 #444;
}

.subscription {
  .sub-label {
    color: #fff;
  }
  .sub-amount {
    color: #f2f2f2; 
    font-size: 18px;
    font-weight: bold;
  }
  .tier-label {
    color: #666;  
    font-size:20px;
    font-weight: bold;  
  }
  .sub-billing {
    color: #666;
    margin-bottom:0.25em;
  }
}

.subfeature {
  margin-bottom: 20px;
  padding: 5px 20px;
  background: #0E0E0E;
  border-radius: 20px;
  position: relative;
}
.subfeature h1 {
  margin-top: 10px;
}
.subfeature > p {
  color: #666;
}
.subfeature-options {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1em;
}
.subfeature-t1 {
  border-right: 1px dashed rgba(255,255,255,0.2);
}
.subfeature-t1, 
.subfeature-t2 {
  float: left;
  padding: 0 20px;
}
.subfeature-period {
  text-align: center;
}
.subfeature-desc {
  width: 45%;
}
.subfeature-desc > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.subfeature-info {
  font-size:18px; 
  float: left;
}
.subfeature-price {
  margin-right: 10px;
  float: left;
  font-size:48px;
  line-height:70px;
  color: #EFEFEF;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
}


.ui-step-legend {
  margin: 15px;
}
.ui-step-legend {
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }
  ul li {
    position: relative;
    float: left;
    margin: 0;
    background: #0088cc;
    background: -moz-linear-gradient(top, #0099e6 0%, #0088cc 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0099e6),color-stop(100%, #0088cc) );
    background: -webkit-linear-gradient(top, #0099e6 0%, #0088cc 100%);
    background: -o-linear-gradient(top, #0099e6 0%, #0088cc 100%);
    background: -ms-linear-gradient(top, #0099e6 0%, #0088cc 100%);
    background: linear-gradient(to bottom, #0099e6 0%, #0088cc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#0099e6',endColorstr='#0088cc', GradientType=0 );
  }
  ul li:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  ul li:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }
  ul li a {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.95);
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
    line-height: 60px;
    text-align: center;
    display: block;
  }
  ul li .arrow {
    bottom: -14px;
    margin-left: -14px;
    left: 50%;
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-top: 14px solid #0088CC;
  }
}

.alert-info a {
  color: #0097e1;
}
.alert-info a:hover {
  color: #00abff;
}
.alert-success a {
  color: #11b913;
}
.alert-success a:hover {
  color: #19d91c;
}


/**
 * Grid
 */
table.grid {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
}
table.grid td {
  white-space: nowrap;
  padding-left: 20px;
}
table.grid td.wrap {
  white-space: normal;
}
table.grid thead td {
  color: #444;
  line-height: 35px;
  font-size: 18px;
  font-weight: normal;
  text-shadow: none;
}
table.grid tbody td {
  line-height: 30px;
  color: #999;
}
table.grid thead td:first-child {
  border-top-left-radius: 6px;
}
table.grid thead td:last-child {
  border-top-right-radius: 6px;
}
table.grid thead tr td {
  background: rgba(255, 255, 255, 0.025);
}
table.grid thead tr td:first-child,
table.grid tbody tr td:first-child {
  padding-left: 20px;
}
table.grid thead tr td:last-child,
table.grid tbody tr td:last-child {
  padding-right: 20px;
}
table.grid tbody tr:nth-child(odd) td {
  background: rgba(255, 255, 255, 0.04);
}
table.grid tbody tr:nth-child(even) td {
  background: rgba(255, 255, 255, 0.025);
}
table.grid tbody tr.on>td {
  background: rgba(255, 255, 255, 0.04);
}
table.grid tbody tr.off>td {
  background: rgba(255, 255, 255, 0.025);
}
table.grid .rank {
  margin-right: 5px;
}
i.td-fill {
  opacity:0.5;
  height:23px;
}
/**
 * Collapsible
 */
.collapsible > h3 {
  margin-bottom: 0;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #222;  
  font-size: 20px;
  color: #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.collapsible > h3 > .expander {
  font-size: 60%;
  line-height: 22px;
  float: left;
  margin-right: 5px;
}
.collapsible > h3:hover {
  cursor: pointer;
  color: white;
}
.collapsible.active,
.collapsible.active > h3 {
  border-bottom: none;
}
.collapsible > .content {
  display: none;
}
.collapsible.active > .content {
  display: block;
}

.content .stream:first-child table.grid thead td:last-child {
  border-top-right-radius: 0;
}

.content .stream:last-child table.grid thead td:first-child {
  border-top-left-radius: 0;
}

.icon-bigscreen {
  background: url("../img/ico/tv_32.png") no-repeat top left !important;  
  width: 30px !important;
  height: 19px !important;
  display: inline-block;
  vertical-align: bottom;
}
.icon-bigscreen.animated {
  background: url("../img/ico/tv_32.anim.gif") no-repeat top left !important; 
}

/**
 * Used to stop embedded player from linking to an external site when accidentally clicked
 **/
.stream-overlay {
  position: absolute;
  z-index: 10;
}
.stream-overlay.to-botright {
  height: 100px;
  width: 43px;  
  right: 0;
  bottom: 34px;   
}
.stream-overlay.to-botleft {
  height: 100px;  
  left: 0;
  right: 108px; 
  bottom: 34px; 
}
.stream-overlay.to-main {
  left: 0;
  right: 0; 
  top: 0;
  bottom: 132px;  
}
.stream-overlay.fsbtn {
  cursor: pointer;
  width: 30px;
  height: 34px;
  right: 0;
  bottom: 0;  
}

@media (max-width: @screen-xs-max) {
  .stream-overlay {
    display: none;
  }
}

.fullscreened,
.fullscreened object {
  width: 100% !important;
  height: 100% !important;
}

body#bigscreen .container,
body#bigscreen .container-fluid,
body#admin .container,
body#admin .container-fluid,
body.profile .container,
body.profile .container-fluid {
  width: auto;
  max-width: 100%;
}

@media (min-width: @screen-lg-min) {
  body#bigscreen .container,
  body#authentication .container,
  body#profile .container {
    min-width: 940px;
  }
}

/* Bigscreen page */
@xs-navheight: 31px;
@navheight: 51px;
@chatwidth: 400px;
@panelheight: 31px;

body#bigscreen {
  #page-content {
    padding: 0;
  }
  #chat-panel {
    position: relative;
    padding: 0;
    width: 100%;
  }
  #stream-panel {
    position: relative;
    width: 100%;
  }

  #stream-wrap,
  #chat-wrap {
    position: relative;
    width: 100%;
  }
  .panelheader {
    border-top-left-radius:4px; 
    border-top-right-radius:4px;
    background: rgba(0,0,0,0.5);
    border-bottom: 1px solid #040404; 
    line-height:30px;
    padding:0 10px;
    z-index: 6;
    color: #444;
    font-size:12px; 
    text-shadow:1px 1px 0 black;
  }
  #chat-panel-resize-bar {
    width: 5px;
    position: absolute;
    top: 5px;
    left: 0;
    bottom: 5px;
    cursor: col-resize;
    z-index: 200;
    transition: background-color 0.25s ease;
    border-radius:2px;
  }
  #chat-panel-resize-bar:hover {
    background-color: rgba(255,255,255,0.5);
  }
  #chat-panel-resize-bar.active {
    background-color: rgba(255,255,255,1);
  }
}

body#bigscreen.nochat #stream-panel {
  padding: 5px;
  width: 100%;
}

@media (max-width: @screen-xs-max) {
  body#bigscreen #page-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    flex-direction: column;
    position: absolute;
    top: @xs-navheight;
    bottom: 0;
    left: 0;
    right: 0;
  }

  body#bigscreen #chat-panel {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }
}
@media (min-width: @screen-sm-min) {
  body#bigscreen #page-content {
    height: -moz-calc(~"100%" - @navheight);
    height: -webkit-calc(~"100%" - @navheight);
    height: -o-calc(~"100%" - @navheight);
    height: calc(~"100%" - @navheight);
  }

  body#bigscreen #stream-panel,
  body#bigscreen #chat-panel {
    height: -moz-calc(~"100%");
    height: -webkit-calc(~"100%");
    height: -o-calc(~"100%");
    height: calc(~"100%");
  }
}
@media (min-width: @screen-sm-min) {
  body#bigscreen #chat-panel {
    float: right;
    padding: 0 5px 5px 5px;
    width: @chatwidth;
  }
  body#bigscreen #stream-panel {
    float: left;
    padding: 0 0 5px 5px;
    width: -moz-calc(~"100%" - @chatwidth);
    width: -webkit-calc(~"100%" - @chatwidth);
    width: -o-calc(~"100%" - @chatwidth);
    width: calc(~"100%" - @chatwidth);
  }
}
@media (max-width: @screen-xs-max) {
  /* force 16:9 */
  body#bigscreen #stream-wrap {
    height: 0;
    padding-bottom: 56.25%;
  }

  body#bigscreen #chat-wrap {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
  }
}
@media (min-width: @screen-sm-min) {
  body#bigscreen #stream-wrap,
  body#bigscreen #chat-wrap {
    height: calc(~"100%" - @panelheight);
  }
}
@media (max-width: @screen-xs-max) {
  body#bigscreen #chat-panel-resize-bar {
    display: none;
  }
}
@media (max-width: @screen-xs-max) {
  body#bigscreen .panelheader {
    display: none;
  }
}

body#admin #main-nav .brand,
body#bigscreen #main-nav .brand {
  text-indent: -999em;
  background: url("../img/logo-destiny-gg.sm.png") no-repeat center center;
  display: block;
  width: 224px;
  display: none;
  margin: 15px 15px 15px 0;
}

@media (min-width: 1160px) {
  body#admin #main-nav .brand,
  body#bigscreen #main-nav .brand {
    display: block;
  }
}

body#bigscreen #chat-panel-tools a {
  margin: 0 2px;
  cursor: pointer;
  color: #444;
}
body#bigscreen #chat-panel-tools a:hover {
  color: white;
}
body#bigscreen .panelheader .channel-stat {
  width:50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Banned embed */
body#banned {
  margin: 0;
  padding: 0;
  height: 100%;
  min-width: 320px;
  box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.25);
  background: #050505;

  #ban-info {
    margin:0;
    padding: 20px 15px;
    position: relative;
    overflow-x: hidden;
  }
  #ban-info h1,
  #ban-info h2,
  #ban-info h3 {
    font-size: 24px;
    line-height: 24px;
    color: #fafafa;
  }
  #ban-info h3 {
    font-size: 20px;
    line-height: 20px;  
  }
  #ban-info p {
    font-size: 12px;
    margin: 15px 0;
  }
  #ban-info dt {
    font-weight: normal;
    color: #444;
  }
  #ban-info h1 small {
    color: white;
    font-size: 16px;
    border-radius: 6px;
    padding:1px 4px;
  }
  .bantype-temporary small {
    background-color: #f89406;
  }
  .bantype-permanent small {
    background-color: #b94a48;
  }
}

form label.error {
  background-color: #b94a48;
  display: inline-block;
  color: white;
  line-height: 30px;
  margin: 0 0 0 3px;
  vertical-align: top;
  padding: 0 5px;
  border-radius: 0 0 4px 4px;
}

/* Administration */
@media (min-width: @screen-lg-min) {
  body#admin .container {
    width: auto;
  }
}


/* Emoticons */
body#emoticons {
  .content {
    background-color: #080808;
  }
  .emote {
    height: 85px;
    width: 20%;
    float: left;
  }
  .emote > div {
    margin: 10px;
  }
  .chat-emote {
    top: auto;
    position: static;
    display: block;
    margin: 0 auto !important;
  }
  .emote-label {
    font-size: 12px;
    text-align: center;
    color: rgba(255,255,255,0.7);
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 5px;
    line-height: 30px;
    display: block;
  }
  .emote-label:hover {
    color: white;
  }
}

/* Banner shows if the stream is live */
#status-banners {

  .banner-view-wrap {
    margin: 0; 
    position: relative; 
    min-height: 200px; 
    background: rgba(0,0,0,0.5); 
    border-radius: 6px;
  }
  .banner-thumbnail {
    position: absolute;
    padding: 10px;  
    top:0;
    left:0;
    float: left;
  }
  .banner-thumbnail a {
    display: block;
    border-radius: 6px;
    width: 300px;
    height: 180px;  
  }
  .banner-content-wrap > div {
    padding: 20px 20px 20px 10px;
  }
  .banner-content-wrap h1 {
    letter-spacing: -0.05em;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-size: 36px; 
    margin:0 0 10px 0; 
  }
  .banner-content-wrap {
    min-width: calc(~"100%" - 320px);
    margin-left: 320px;
  }
  .banner-content-text {
    margin-bottom: 1em;
    color: #666;
  }
}

@media (max-width: @screen-sm-max) {
  #status-banners .banner-thumbnail {
    display: none;
  }
  #status-banners .banner-content-wrap {
    width: 100%;
    margin-left: 0;
  }
}
@media (max-width: @screen-xxs-max) {
  #status-banners .banner-popout-links {
    display: none;
  }
}

iframe.stream-element {
  width: 100%;
  height: 100%;
}

body#amazon {
  .amazon-referral {
    text-align: center;
    margin: 40px 0 0 0;
    padding-bottom: 60px;
  }
  .amazon-referral:first-child {
    border-width: 0 0 0 0;
  }
  .amazon-referral a {
    text-decoration: none;
  }
  .amazon-referral img {
    border-radius: 8px;
  }
}
@media (max-width: @screen-sm-max) {
  body#amazon .amazon-referral {
    border-width: 0 0 0 0;
    margin-left: 0;
  }
}

#android-banner p {
  color: #666;
}

#alerts-container {
  z-index: 1001;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
#alerts-container .alert {
  margin: 10px;
}

.pm-count {
  font-family: "Lucida Console", Monaco, monospace;
  text-decoration: none;
  font-size: 10px;
  color: white;
  background-color: #b91010;
  line-height: 10px;
  padding: 3px;
  position: absolute;
  border-radius: 8px;
  top: 5px;
  right: 0;
  display: block;
  text-shadow: 1px 1px 0px black;
  text-align: center;
  box-shadow: 1px 1px 0 rgba(0,0,0,0.1);
  min-width: 15px;
}
@-webkit-keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}
.pm-count.flash {
  -webkit-animation-name: flash;
  -webkit-animation-duration:1.5s;
  -webkit-animation-direction:alternate;
  -webkit-animation-timing-function:linear;
  -webkit-animation-delay:0s;
  -webkit-animation-iteration-count:infinite;
  -moz-animation-name: flash;
  -moz-animation-duration:1.5s;
  -moz-animation-direction:alternate;
  -moz-animation-timing-function:linear;
  -moz-animation-delay:0s;
  -moz-animation-iteration-count:infinite;
  animation-name: flash;
  animation-duration: 1.5s;
  animation-iteration-count:infinite;
}
