*.sublime-*
config/config.local.php
/.settings
/.externalToolBuilders
/.project
/.buildpath
/vagrant
/.sass-cache
/.tscache

/config/cert_key.pem
/config/sdk_config.ini

/composer.lock
/deployment.properties
/node_modules
/scripts/redis/*.hash
.DS_Store
*.swp

/.idea

./phpunit.phar
/config/domains.blacklist.php
/config/nick.blacklist.php
/composer.phar
/phpunit.phar
/package-lock.json
/config/cert.pem

/static/img
/static/cache
/static/emotes
/static/flairs

/config/*.pem
/config/*.csr

/data/mysql
/data/redis

/public/*.txt
/public/files
/public/*.html
/public/t
