*.sublime-*
config/config.local.php
/.settings
/.externalToolBuilders
/.project
/.buildpath
/vagrant
/.sass-cache
/.tscache

/config/cert_key.pem
/config/sdk_config.ini

/composer.lock
/deployment.properties
/node_modules
/scripts/redis/*.hash
.DS_Store
*.swp

/.idea

./phpunit.phar