/*@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);*/

@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@accent: #4f6db3;
@darkaccent: #354978;
@fontbase: #989695;

body {
    font-family: "quicksandregular", "Trebuchet MS", sans-serif;
    color: #666;
    background-color: white;
    background-image: none;
    white-space: normal;
}

h1, h2, h3 {
    font-family: "quicksandregular", "Trebuchet MS", sans-serif;
}

h1 {
    color: @fontbase;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    margin: 50px 0;
    text-transform: uppercase;
}
h2 {
    color: @accent;
    font-size: 30px;
    line-height: 30px;
    margin: 0 0 10px 0;
    letter-spacing: -0.05em;
}
h3 {
    color: @fontbase;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 15px 0;
}

section {
    margin: 0;
}

.t-btn {
    display: inline-block;
    border: 3px solid white;
    border-radius: 13px;
    background: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 48px;
    padding: 0 10px;
    margin: 0 5px;
}
.t-btn:hover,
.t-btn.active {
    color: @accent;
    background: white;
    text-decoration: none;
}

#tournament #timer {
    border-top: 2px solid @darkaccent;
    background-color: @accent;
    font-weight: 400;
    color: white;
    text-align: center;
}
#tournament #timer .t-timer-unit {
    display: inline-block;
    float: none;
    margin: 50px 30px;
}
#tournament #timer .t-number {
    font-size: 48px;
    font-weight: 300;
}
#tournament #timer .t-number {
    font-size: 48px;
    min-width: 68px;
    text-align: center;
}
#tournament #timer .t-label {
    font-size: 18px;
    text-align: center;
}

#tournament #dates {
    background: #f0f0f0 url("../img/zerg-bg-light.jpg") repeat-x center center;
}
#tournament #dates .row > div {
    margin-bottom: 35px;
}

#tournament #scroller {
    background: #9c9a98 url("../img/destiny-t-planetbg.jpg") repeat-x center center;
    text-align: center;
    min-height: 400px;
    max-height: 1080px;
}
#tournament #scroller .container {
    position: relative;
}
#tournament #scroller .t-scroller-slide {
    width: 100%;
    position: absolute;
}

#t-alpha-logo {
    width: 373px;
    height: 197px;
    background: url("../img/destiny_logo_alpha.png") no-repeat top left;
    display: inline-block;
    margin: 0 0 60px 0;
    text-indent: -999em;
}

#t-alpha-buttons .t-btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

#main-nav {
    border-bottom: 0;
}
#main-nav .brand {
    width: 160px;
    height: 100px;
    display: block !important;
    text-indent: -999em;
    background: url("../img/destiny_logo_brand.png") no-repeat top left;
}
#main-nav .nav li a,
#main-nav .nav li:hover a {
    line-height: 16px;
    font-size: 13px;
    text-transform: uppercase;
    color: black;
    border-bottom: 3px solid white;
    background-color: white;
    padding: 40px 15px;
}
#main-nav .nav li:hover a {
    border-bottom: 4px solid #CCC;
}
#main-nav .nav li.active a {
    border-bottom: 4px solid @accent;
}
#main-nav .icon-nav-home,
#main-nav .icon-nav-arrow-down {
    display: inline-block;
    vertical-align: bottom;
}

#tournament .t-person {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
} 
#tournament .t-name {
    font-size: 28px;
    color: @accent;
    text-align: center;
    letter-spacing: -0.08em;
}
#tournament .t-portrait {
    display: inline-block;
}
#tournament .t-portrait,
#tournament .t-name {
    text-align: center;
    margin: 0 auto;
}
#tournament .t-person .t-portrait {
    -webkit-transition: -webkit-transform 0.15s ease-out;
    -moz-transition: -moz-transform 0.15s ease-out;
    -o-transition: -o-transform 0.15s ease-out;
    transition: transform 0.15s ease-out;
}
#tournament .t-person:hover .t-portrait {
    -webkit-transform: translate(0, -2px);
    -moz-transform: translate(0, -2px);
    -ms-transform: translate(0, -2px);
    -o-transform: translate(0, -2px);
    transform: translate(0, -2px);
}
#tournament .t-person .t-social a {
    display: inline-block;
}

#tournament #sponsors {
    background: #fafafa url("../img/terran-bg-light.jpg") repeat-x center center;
}
#tournament #sponsors .t-name {
    text-align: left;
}
#tournament #sponsors .t-sponsor {
    margin-bottom: 50px;
}
#tournament #sponsors .t-logo {
    display: block;
    text-align: center;
    margin:0 auto 15px auto;
}

#tournament #casters {
    padding-bottom: 30px;
}

#tournament #brackets {
    background: #eeeeee url("../img/brackets-bg-tba.jpg") repeat-x center center;
    /*height: 1080px;*/
    height: 600px;
}

#t-foot {
    padding: 50px 0 20px 0;
    background: #383838;
}
#t-foot #t-foot-links {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 12px;
    color: #989695;
    text-shadow: none;
    margin-top: 30px;
}
#t-foot #t-foot-nav {
    font-size: 24px;
    color: #989695;
    text-shadow: none;
    margin: 20px -5px;
}
#t-foot #t-foot-nav a {
    color: #989695;
    margin: 0 5px;
    text-decoration: none;
}
#t-foot #t-foot-nav a:hover {
    color: #fafafa;
}

#t-foot #destiny-i-logo {
    opacity: 0.6;
    width: 150px;
    height: 90px;
    background: url("../img/destiny_logo_alpha.png") no-repeat top left;
    background-size: 150px auto;
    display: inline-block;
}
#t-foot #t-foot-social a {
    text-indent: -999em;
    display: inline-block;
}
#t-foot .icon-f-indiegogo {
    margin-right: 13px;
}
#t-foot .icon-f-twitter {
    margin-right: 4px;
}
#t-foot .icon-f-facebook {
    margin-right: 6px;
}
#t-foot .icon-f-facebook {
    margin-right: 6px;
}
#t-foot .icon-f-twitch {
    margin-right: 9px;
}
#t-foot .icon-f-youtube {
    margin-right: 6px;
}

#back-to-top {
    display: block;
    position: fixed;
    bottom: 30px;
    right: 30px;
}


#tournament .icon-protoss,
#tournament .icon-zerg,
#tournament .icon-terran {
    display: none !important;
}

ul.dates-list {
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
}