.chat-emote {
	display: inline-block;
	position: relative;
	top: 10px;
	margin: 0 2px;
}
.chat-emote.chat-emote-OverRustle {
	animation: rustle 100ms 7;
	-webkit-animation: rustle 100ms 7;
}
.chat-emote.chat-emote-OverRustle:hover {
	animation: rustle 100ms infinite;
	-webkit-animation: rustle 100ms infinite;
}
@keyframes rustle {
	from {
		left: 0px;
	}
	to {
		left: 2px;
	}
}
@-webkit-keyframes rustle {
	from {
		left: 0px;
	}
	to {
		left: 2px;
	}
}
