/* glue: {{ version }} hash: {{ hash }} */

/* start destiny.gg */
.chat-emote {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 10px;
    margin: 0 2px;
    overflow: hidden;
    text-indent: -90000px;
    vertical-align: middle;
}
.chat-emote.chat-emote-OverRustle {
    animation: rustle 100ms 7;
}
.chat-emote.chat-emote-OverRustle:hover {
    animation: rustle-hover 100ms infinite;
}
@keyframes rustle {
    from { left: 0px; }
    to { left: 2px; }
}
@keyframes rustle-hover {
    from { left: 0px; }
    to { left: 2px; }
}


.chat-emote.chat-emote-MLADY {
    animation: tip 250ms 3;

}
.chat-emote.chat-emote-MLADY:hover {
    animation: tip-hover 250ms infinite;
}
@keyframes tip {
  0% {
    transform: rotate(0deg);
    transform-origin: 4px bottom;
  }
  30% {
    transform: rotate(20deg);
    transform-origin: 4px bottom;
  }
  80% {
    transform: rotate(-10deg);
    transform-origin: 4px bottom;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 4px bottom;
  }
}
@keyframes tip-hover {
  0% {
    transform: rotate(0deg);
    transform-origin: 4px bottom;
  }
  30% {
    transform: rotate(20deg);
    transform-origin: 4px bottom;
  }
  80% {
    transform: rotate(-10deg);
    transform-origin: 4px bottom;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 4px bottom;
  }
}


.chat-emote.chat-emote-SpookerZ {
    animation: spook 250ms 3;

}
.chat-emote.chat-emote-SpookerZ:hover {
    animation: spook-hover 250ms infinite;
}
@keyframes spook {
  0% {
    transform: translate(0px 0px);
  }
  25% {
    transform: translate(0px,4px)
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 4px bottom;
  }
}
@keyframes spook-hover {
  0% {
    transform: translate(0px 0px);
  }
  25% {
    transform: translate(0px,4px)
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 4px bottom;
  }
}

.chat-emote-DANKMEMES {
  animation: DANKMEMES-anim 1s 2;
}

.chat-emote-DANKMEMES:hover {
  animation: DANKMEMES-anim-hover 1s infinite;
}

@keyframes DANKMEMES-anim {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

@keyframes DANKMEMES-anim-hover {
  0%, 100% {
    -webkit-filter: hue-rotate(0deg);
    filter: hue-rotate(0deg);
  }
  50% {
    -webkit-filter: hue-rotate(360deg);
    filter: hue-rotate(360deg);
  }
}

.chat-emote-PICNIC {
  animation: PICNIC-anim 350ms 3;
}

.chat-emote-PICNIC:hover {
  animation: PICNIC-anim-hover 350ms infinite;
}

@keyframes PICNIC-anim {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes PICNIC-anim-hover {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

/* end destiny.gg */

{% for image in images %}.{{ image.label }}{{ image.pseudo }}{%- if not image.last %}, {%- endif %}{%- endfor %}{
    background-image:url('{{ sprite_path }}');
    background-repeat:no-repeat;
}
{% for image in images %}
.{{ image.label }}{{ image.pseudo }}{
    background-position:{{ image.x ~ ('px' if image.x) }} {{ image.y ~ ('px' if image.y) }};
    width:{{ image.width }}px;
    height:{{ image.height }}px;
    margin-top:-{{ image.height }}px;
}
{% endfor %}
