
/*
	spritemapper.output_css   = ../emoticons.css
	spritemapper.output_image = ../emoticons.png
	spritemapper.anneal_steps = 100
*/
.chat-emote {
	display: inline-block;
	position: relative;
	top: 10px;
	margin: 0 2px;
}

.chat-emote.chat-emote-Dravewin {
	width: 30px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -90px 0;
}

.chat-emote.chat-emote-INFESTINY {
	width: 35px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -93px -31px;
}

.chat-emote.chat-emote-FIDGETLOL {
	width: 25px;
	height: 25px;
	margin-top: -25px;
	background: url('../img/emoticons.png') no-repeat -241px 0;
}

.chat-emote.chat-emote-Hhhehhehe {
	width: 35px;
	height: 25px;
	margin-top: -25px;
	background: url('../img/emoticons.png') no-repeat -267px 0;
}

.chat-emote.chat-emote-GameOfThrows {
	width: 79px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -129px -31px;
}

.chat-emote.chat-emote-WORTH {
	width: 21px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -37px 0;
}

.chat-emote.chat-emote-FeedNathan {
	width: 39px;
	height: 32px;
	margin-top: -32px;
	background: url('../img/emoticons.png') no-repeat -240px -68px;
}

.chat-emote.chat-emote-Abathur {
	width: 98px;
	height: 36px;
	margin-top: -36px;
	background: url('../img/emoticons.png') no-repeat -51px -68px;
}

.chat-emote.chat-emote-LUL {
	width: 36px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -121px 0;
}

.chat-emote.chat-emote-Heimerdonger {
	width: 39px;
	height: 32px;
	margin-top: -32px;
	background: url('../img/emoticons.png') no-repeat -200px -68px;
}

.chat-emote.chat-emote-PICNIC {
	width: 330px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -34px -106px;
}

.chat-emote.chat-emote-ASLAN {
	width: 50px;
	height: 37px;
	margin-top: -37px;
	background: url('../img/emoticons.png') no-repeat 0 -68px;
}

.chat-emote.chat-emote-DJAslan {
	width: 32px;
	height: 36px;
	margin-top: -36px;
	background: url('../img/emoticons.png') no-repeat 0 -31px;
}

.chat-emote.chat-emote-SoSad {
	width: 23px;
	height: 32px;
	margin-top: -32px;
	background: url('../img/emoticons.png') no-repeat -176px -68px;
}

.chat-emote.chat-emote-Kappa {
	width: 25px;
	height: 28px;
	margin-top: -28px;
	background: url('../img/emoticons.png') no-repeat -280px -68px;
}

.chat-emote.chat-emote-Klappa {
	width: 34px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -209px -31px;
}

.chat-emote.chat-emote-DappaKappa {
	width: 25px;
	height: 33px;
	margin-top: -33px;
	background: url('../img/emoticons.png') no-repeat -150px -68px;
}

.chat-emote.chat-emote-BibleThump {
	width: 36px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -56px -31px;
}

.chat-emote.chat-emote-BloodTrail {
	width: 41px;
	height: 28px;
	margin-top: -28px;
	background: url('../img/emoticons.png') no-repeat -199px 0;
}

.chat-emote.chat-emote-BrainSlug {
	width: 30px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -59px 0;
}

.chat-emote.chat-emote-FrankerZ {
	width: 40px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -158px 0;
}

.chat-emote.chat-emote-Kreygasm {
	width: 19px;
	height: 27px;
	margin-top: -27px;
	background: url('../img/emoticons.png') no-repeat -244px -31px;
}

.chat-emote.chat-emote-PJSalt {
	width: 36px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat 0 0;
}

.chat-emote.chat-emote-SSSsss {
	width: 24px;
	height: 24px;
	margin-top: -24px;
	background: url('../img/emoticons.png') no-repeat -303px 0;
}

.chat-emote.chat-emote-FailFish {
	width: 22px;
	height: 30px;
	margin-top: -30px;
	background: url('../img/emoticons.png') no-repeat -33px -31px;
}

.chat-emote.chat-emote-BasedGod {
	width: 33px;
	height: 34px;
	margin-top: -34px;
	background: url('../img/emoticons.png') no-repeat 0 -106px;
}
