.chat .chat-lines i[class^="icon-"] {
background-position: bottom left;
background-repeat: no-repeat;
}
.chat .chat-lines i[class^="icon-"]:hover {
background-position: top left; 
}
i.icon-subscriber,
i.icon-subscribert2,
i.icon-subscribert3 {
-webkit-transform: rotate(0deg);
-webkit-transition: rotate 0.2s ease-in-out;
-moz-transition: rotate 0.2s ease-in-out;
-o-transition: rotate 0.2s ease-in-out;
transition: rotate 0.2s ease-in-out;	
}
i.icon-subscriber:hover,
i.icon-subscribert2:hover,
i.icon-subscribert3:hover {
-moz-animation: spin 3s infinite linear;
-webkit-animation: spin 3s infinite linear;
}
i.icon-subscriber {
background-image: url("../img/bobross.png");
}
i.icon-subscribert2 {
background-image: url("../img/bobross2.png");
}
i.icon-subscribert3 {
background-image: url("../img/bobross3.png");
}
i.icon-vip {
background-image: url("../img/leaf.png");
}
i.icon-moderator {
background-image: url("../img/weather-lightning.png");
}
i.icon-administrator {
background-image: url("../img/microphone.png");
}
i.icon-bot {
background-image: url("../img/robot.png");
}
i.icon-notable {
background-image: url("../img/balloon-white-left.png");
}

i.icon-error {
background-image: url("../img/exclamation-red.png");
}
i.icon-status {
background-image: url("../img/information.png");	
}
i.icon-info {
background-image: url("../img/question-white.png");
}
i.icon-command {
background-image: url("../img/exclamation-diamond.png");	
}
i.icon-broadcast {
background-image: url("../img/megaphone.png");	
}

.chat-frame a.user {
color: #CACACA;
}
.chat-frame a.user:hover {
color: #FAFAFA;
}
.chat-frame a.subscriber {
color: #488ce7;
}
.chat-frame a.subscriber:hover {
color: #6aa7f9;
}
.chat-frame a.moderator {
color: #429A2D;
}
.chat-frame a.moderator:hover {
color: #75e85a;
}
.chat-frame a.vip {
color: #CF31E2;
}
.chat-frame a.vip:hover {
color: #e564f4;
}
.chat-frame a.admin {
color: #B91010;
}
.chat-frame a.admin:hover {
color: #ff0000;
}
.chat-frame a.bot {
color: #4ba235;
}
.chat-frame a.bot:hover {
color: #7adb62;
}
.chat-frame a.flair3 {
color: #0060ff;
text-shadow:1px 1px 0 black;
}
.chat-frame a.flair3:hover {
color: #6aa7f9;
}