/* override things for the browser source plugin */

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/OpenSans-ExtraBold.ttf");
}

body,
.chat-theme-dark {
  background: transparent !important;
}

.hint-popup>div,
.user-tools>div,
#chat-broadcasts>div,
.chat-lines time {
  display: none !important;
}

.chat-lines {
  color: white;
}

.chat-lines,
.chat-lines a,
.chat-lines a.user,
.chat-lines .emotecount {
  font-size: 20px;
}

.chat-lines .emotecount.x5 > span {
  font-size: 20px;
}
.chat-lines .emotecount.x10 > span {
  font-size: 24px;
}
.chat-lines .emotecount.x20 > span {
  font-size: 26px;
}
.chat-lines .emotecount.x30 > span {
  font-size: 35px;
}
.chat-lines .emotecount.x50 > span {
  font-size: 40px;
}

.chat-lines,
.chat-lines a,
.chat-lines a.user,
.chat-lines .emotecount,
.chat-theme-dark .chat-lines > .command-msg,
.chat-theme-dark .chat-lines > .own-msg,
.chat-theme-dark .chat-lines > .highlight .msg,
.chat-theme-dark .chat-lines > .broadcast-msg .msg {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-decoration: none;
  font-size: 20px;
  text-shadow: -1px -1px 3px #000, 1px -1px 3px #000, -1px 1px 3px #000, 1px 1px 3px #000;
  -webkit-text-stroke: 1px black;
  letter-spacing: 0.03em;
}
.chat-theme-dark .chat-lines>.command-msg,
.chat-theme-dark .chat-lines>.error-msg,
.chat-theme-dark .chat-lines>.status-msg,
.chat-theme-dark .chat-lines>.ui-msg,
.chat-theme-dark .chat-lines>.own-msg,
.chat-theme-dark .chat-lines>.highlight {
  color: white;
}

.chat-lines .emotecount,
.chat-theme-dark .chat-lines > .highlight,
.chat-theme-dark .chat-lines > .broadcast-msg {
  background: none;
}

.chat-input,
.chat .chat-lines i[class^="icon-"],
.chat .ui-msg {
  display: none !important;
}

.chat-output-frame {
  margin: 0;
}


.chat .flair3 {
  color: #6aa7f9;
}
.chat a.flair8 {
  color: #e564f4;
}

.chat-lines > div {
  margin: 0;
}

.chat-lines > div .continue,
.nano .nano-slider {
  visibility: hidden;
}