/* override things for the browser source plugin */

@font-face {
    font-family: "Open Sans";
    src: url("../../fonts/OpenSans-ExtraBold.ttf");
}

body {
  background: transparent !important;
}

#destinychat {
  background: rgba(0,0,0,0.2);
  border-radius: 8px;
  text-shadow: 1px 1px 0 black;
}

#chat-lines time {
  display: none !important;
}

#chat-lines {
  color: white;
}

#chat-lines,
#chat-lines a,
#chat-lines a.user,
#chat-lines .emotecount {
  font-size: 20px;
}
#chat-lines .emotecount i {
    font-style: normal;
    vertical-align: middle;
    line-height: 1em;
}
#chat-lines .emotecount.x5 i {
  font-size: 20px;
}
#chat-lines .emotecount.x10 i {
  font-size: 24px;
}
#chat-lines .emotecount.x20 i {
  font-size: 26px;
}
#chat-lines .emotecount.x30 i {
  font-size: 35px;
}
#chat-lines .emotecount.x50 i {
  font-size: 40px;
}

#chat-lines,
#chat-lines a,
#chat-lines a.user,
#chat-lines .emotecount,
.chat #chat-lines > .command-msg,
.chat #chat-lines > .own-msg,
.chat #chat-lines > .highlight .msg,
.chat #chat-lines > .broadcast-msg .msg {
  font-family: 'Lucida Sans Unicode', sans-serif;
  text-decoration: none;
  font-size: 20px;
}
.chat #chat-lines>.command-msg,
.chat #chat-lines>.error-msg,
.chat #chat-lines>.status-msg,
.chat #chat-lines>.ui-msg,
.chat #chat-lines>.own-msg,
.chat #chat-lines>.highlight {
  color: white;
}

#chat-lines .emotecount,
.chat #chat-lines > .highlight,
.chat #chat-lines > .broadcast-msg {
  background: none;
}

#chat-input,
.chat #chat-lines i[class^="icon-"],
.chat .ui-msg,
time {
  display: none !important;
}

#chat-output-frame {
  margin: 0;
}


.chat .flair1 {
  color: white;
}
.chat .flair2 {
  color: white;
}
.chat .flair3 {
  color: #6aa7f9;
}
.chat a.flair8 {
  color: #e564f4;
}

#chat-lines > div {
  margin: 0;
}

#chat-lines > div .continue,
.nano .nano-slider {
  visibility: hidden;
}

.chat a.user {
  color: white;
}