body#chat-embedded {
margin:0;
padding:0;
height:100%;
overflow: hidden;
min-height: 250px;
min-width: 300px;
}
.chat-output .mCSB_container {
margin-right:20px;
}
.chat-output, .chat-lines {
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
padding:0;
margin:0;
}
.chat-lines msg.emote {
font-style: italic;
}
.chat-frame {
position: relative;	
width:100%;
height:100%;
}
.chat-lines > div {
clear:both;
word-wrap:break-word;
padding: 3px 0 3px 5px;
}
.chat-lines > div.continue {
margin-top:-3px;
}
.chat-lines > div .continue {
user-select: none;
color:#222;
}
.chat-lines > div i.continue {
user-select: none;
color:#222;
}
.chat-lines > div.failed span {
text-decoration:line-through;
opacity:0.5;
}
.chat-lines a.user {
font-weight:bold;
cursor: pointer;
}
.chat-lines hr {
margin:8px 0;
}

.chat-input, .chat-input-wrap, .chat-tools-wrap {
height: 30px;
}
.chat-input {
background: rgb(46,46,46); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(46,46,46,1) 0%, rgba(28,28,28,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,46,46,1)), color-stop(100%,rgba(28,28,28,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* W3C */
width:100%;
position: absolute;
bottom:0;
margin:5px 0 0 0;
}
.chat-tools-wrap {
position: absolute;
right:0;
top:0;
margin:0;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}
.chat-input-wrap {
margin:0;
margin-right:90px;
border-radius:0;
}
.chat-input-control {
padding:3px 0 0 5px;
height:25px;
margin: 1px;
border-radius: 3px;
}
.chat-input-control .input {
background: none;
resize: none;
margin:0;
padding:0;
width:100%;
border:0;
border-radius:0;
box-shadow: none;	
box-sizing: border-box;
}
.chat-input-control .input:focus {
box-shadow: none;	
}
.chat-tools-wrap > div {
height: 30px;
overflow: hidden;	
}
.chat-tools-wrap .iconbtn {
cursor: pointer;	
width:30px;
height:30px;
line-height: 30px;
float:left;
display: block;
text-align: center;
}
.chat-tools-wrap .iconbtn:hover {
background: rgba(255,255,255,0.15);
}
.chat-tools-wrap .iconbtn:hover i {
opacity: 0.9;
}
.chat-tools-wrap .iconbtn.active {
background: rgba(255,255,255,0.25);
}
.chat-tools-wrap .iconbtn.active i {
opacity: 1;
}

.chat .chat-lines i[class^="icon-"] {
width: 16px;
line-height: 16px;
height: 16px;
margin: 0;
opacity: 1;
}
.chat .chat-lines i.icon-subscriber:hover,
.chat .chat-lines i.icon-vip:hover,
.chat .chat-lines i.icon-moderator:hover,
.chat .chat-lines i.icon-administrator:hover,
.chat .chat-lines i.icon-bot:hover,

.chat .chat-lines i.icon-error:hover,
.chat .chat-lines i.icon-status:hover,
.chat .chat-lines i.icon-info:hover,
.chat .chat-lines i.icon-command:hover {
background-position: top left;
}
.chat .chat-lines i.icon-subscriber {
background: url("../img/bobross.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-vip {
background: url("../img/leaf.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-moderator {
background: url("../img/weather-lightning.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-administrator {
background: url("../img/crown.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-bot {
background: url("../img/robot.png") no-repeat bottom left;
}

.chat .chat-lines i.icon-error {
background: url("../img/exclamation-red.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-status {
background: url("../img/information.png") no-repeat bottom left;	
}
.chat .chat-lines i.icon-info {
background: url("../img/question-white.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-command {
background: url("../img/exclamation-diamond.png") no-repeat bottom left;	
}

.chat-frame a.user {
color: #A7A7A7;
}
.chat-frame a.user:hover {
color: #FAFAFA;
}
.chat-frame a.subscriber {
color: #488ce7;
}
.chat-frame a.subscriber:hover {
color: #6aa7f9;
}
.chat-frame a.moderator {
color: #429A2D;
}
.chat-frame a.moderator:hover {
color: #75e85a;
}
.chat-frame a.vip {
color: #CF31E2;
}
.chat-frame a.vip:hover {
color: #e564f4;
}
.chat-frame a.admin {
color: #B91010;
}
.chat-frame a.admin:hover {
color: #ff0000;
}
.chat-frame a.bot {
color: #4ba235;
}
.chat-frame a.bot:hover {
color: #7adb62;
}

/* Fonts / font-size */
.chat-input-control input,
.chat-lines {
font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif ;
font-size: 13px;
line-height: 20px;
}
.chat-lines > div .p-whisper {
font-weight: bold;
}
.chat-lines > div time {
font-size: 11px;
}

.chat-lines a.externallink {
color: #02C2FF;
}
.chat-lines a.externallink:visited {
color: #0088cc;
}
.chat-lines a.externallink:hover, .chat-lines a.externallink:focus {
color: #004D74;
}

.chat .chat-lines time, 
.chat .user-msg i {
display: none !important;	
}
.chat.chat-time .chat-lines time,
.chat.chat-icons .user-msg i,
.chat-lines i.icon-subscriber,
.chat-lines i.icon-administrator {
display: inline-block !important;	
}

/* Theme - Dark */
.chat-theme-dark {
background: #080808;
border-radius:4px;
box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.25);
}
.chat-theme-dark .chat-input-wrap {
border:none;
}
.chat-theme-dark .chat-lines chat {
color: #ddd;
}
.chat-theme-dark .chat-lines > div time {
color:#414141;
}
.chat-theme-dark .chat-lines > div .p-whisper {
color: #990000;
}
.chat-theme-dark .chat-lines > div.highlight {
color: #fff371;
}
.chat-theme-dark .chat-lines > div.command-msg,
.chat-theme-dark .chat-lines > div.error-msg,
.chat-theme-dark .chat-lines > div.status-msg,
.chat-theme-dark .chat-lines > div.ui-msg {
color: #fafafa;
}
.chat-theme-dark .chat-lines > div.command-msg,
.chat-theme-dark .chat-lines > div.error-msg,
.chat-theme-dark .chat-lines > div.status-msg {
}
.chat-theme-dark .chat-lines > div.command-msg {
background: linear-gradient(to right,  rgba(255,255,255,0.025) 0%,rgba(255,255,255,0) 100%); /* W3C */
}
.chat-theme-dark .chat-lines > div.own-msg {
color: #eaeaea;
}
.chat-theme-dark .chat-input-control {
background: #090909;
border:none;
}
.chat-theme-dark .chat-input-control input {
color: #9e9e9e;
background: #090909;
text-shadow: none;
}
.chat-theme-dark input:input-placeholder {
color:#222;
}
.chat-theme-dark input:-moz-placeholder {
color:#222;
}
.chat-theme-dark input:-ms-input-placeholder {
color:#222;
}
.chat-theme-dark input::-webkit-input-placeholder {
color:#222;
}

/** User tools **/
.user-tools {
width:100%;
top:-5px;
left:0;
}
.user-tools > div {
border-radius: 4px;
margin:5px 20px 5px 5px;
}
.user-tools-wrap {
margin-left:-5px;
}
.user-tools-wrap > a {
margin:0 5px;
}

/* Chat menus */
.chat-menu, 
.user-tools {
opacity:0;
transition: top 0.25s ease-out, bottom 0.25s ease-out, opacity 0.1s ease-in;
position: absolute;	
font-size: 12px;
}
.chat-menu.active,
.user-tools.active {
opacity:1;
}
.chat-menu {
right:20px;
bottom:35px;
width:240px;
}
.chat-menu.active {
bottom:40px;
}
.user-tools.active {
top:0;
}
.chat-menu h5,
.user-tools h5 {
text-shadow:-1px -1px 0 rgba(0,0,0,0.25);
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;	
background: rgb(79,79,79);
background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(46,46,46,1) 100%);
border-bottom:1px solid #121212;
margin:0;
line-height:20px;
display: block;
padding:5px 10px;
border-radius: 4px 4px 0 0;
}
.chat-menu .toolbar {
width:100%;
position: absolute;
top:-31px;
left:0;	
}
.chat-menu h5 .close,
.user-tools h5 .close {
margin-top:3px;
}
.chat-menu li, 
.chat-menu label {
font-size:12px;	
}
.chat-menu label:hover {
color: white;
}
.chat-menu .list-wrap, 
.chat-menu .list-wrap .scrollable {
max-height:330px;	
}
.chat-menu .list-wrap,
.user-tools > div {
border-radius:0 0 4px 4px;	
background: rgba(25,25,25,0.9);	
padding:0;
}
.chat-menu .list-wrap {
margin-top:auto;
}
.chat-menu .list-wrap .scrollable {
overflow: hidden;
}
.chat-menu ul,
.user-tools .tools {
padding:0 10px;
margin:10px 0;
}
.chat-menu ul > li:first-child h5 {
margin-top:0;
}
.chat-menu ul li {
text-overflow: ellipsis;
overflow: hidden;
}
#chat-user-list h6:first-child {
margin-top:10px;
}
#chat-user-list h6 {
font-weight: bold;
margin: 0 0 5px 5px;
}
#chat-user-list hr {
margin: 5px 0;
}
#chat-user-list ul {
margin: 0;
}
#chat-user-list .user {
cursor: pointer;
}

.chat.focus-user .chat-lines > div.user-msg {
opacity:0.3;
}
.chat.focus-user .chat-lines > div.user-msg.focused,
.chat.focus-user .chat-lines > div.user-msg.highlight {
opacity:1;
}

.user-tools a#unignoreuser,
.user-tools.user-ignored a#ignoreuser {
display: none;
}
.user-tools.user-ignored a#unignoreuser {
display: inline-block;
}

/* The text shown when a user is not logged in */
.chat-login-msg {
padding: 0 0 0 5px;
line-height: 25px;
color: rgba(255,255,255,0.5);
text-shadow:-1px -1px 0 rgba(0,0,0,0.25);
}
.chat-login-msg:hover {
color: rgba(255,255,255,1);
text-shadow:0 0 3px rgba(255,255,255,0.25);	
}
