/**
 * Nano scroller
 **/
.nano {
  position : relative;
  width    : 100%;
  height   : 100%;
  overflow : hidden;
}
.nano .content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
}
.nano .content:focus {
  outline: none;
}
.nano .content::-webkit-scrollbar {
  visibility: hidden;
}
.has-scrollbar .content::-webkit-scrollbar {
  visibility: visible;
}
.nano:hover > .pane, .pane.active, .pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}

.nano > .pane {
  background            : rgba(0,0,0,0.3);
  position              : absolute;
  width                 : 8px;
  right                 : 5px;
  top                   : 0;
  bottom                : 0;
  visibility            : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity               : .01; 
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
}
.nano > .pane > .slider {
  background            : #999;
  position              : relative;
  margin                : 0 1px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;  
  border-radius         : 3px;
}
.nano > .pane > .slider:hover,
.nano > .pane.active > .slider {
  background: #eee; 
}

.serif {
  font-family: "Trebuchet MS", sans-serif;
}

/**
 * Chat frame and layout
 **/
.chat {
  position: relative; 
  width:100%;
  height:100%;
  min-width: 300px;
}
.chat-output-frame {
  margin-bottom: 35px;
  height: auto;
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.chat-output {
  width: 100%;
  height: 100%;
}
.chat-output .chat-lines {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
}

.chat-lines > div {
  clear: both;
  word-wrap: break-word;
  padding: 3px 20px 3px 5px;
}

.chat-lines > div .continue {
  user-select: none;
  color:#444;
}
.chat-lines > div i.continue {
  user-select: none;
  color:#222;
}

.chat-lines a.user {
  font-weight:bold;
  cursor: pointer;
  .serif;
}
.chat-lines hr {
  margin:8px 0;
}
.chat-lines .msg.emote {
  font-style: italic;
}

.chat-input {
    width:100%;
    position: absolute;
    bottom: 0;
}

#chat-top-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

#chat-bottom-frame {
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
}



.chat-input > div {
  margin: 5px 0 0 0;
  background: rgb(46,46,46); /* Old browsers */
}

.chat-tools-wrap {
  position: absolute;
  right:0;
  bottom:0;
  margin:0;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.chat-input-wrap {
  margin:0;
  margin-right: 60px;
}

#user-mute-form,
#user-ban-form {
    margin-top:10px; 
    display: none;
}

#user-mute-form #banTimeLength {
    width:150px;
}


.chat-input-control {
    padding:3px 0 0 5px;
    height: 28px;
    margin: 1px;
    border-radius: 3px;
}
.chat-input-control .input {
  background: none;
  resize: none;
  margin:0;
  padding:0;
  width:100%;
  border:0;
  border-radius:0;
  box-shadow: none; 
  box-sizing: border-box;
}
.chat-input-control .input:focus {
  box-shadow: none; 
}
.chat-tools-wrap > div {
  height: 30px;
  overflow: hidden; 
}
.chat-tools-wrap .iconbtn {
  cursor: pointer;  
  width:30px;
  height: 28px;
  line-height: 28px;
  float:left;
  display: block;
  text-align: center;
  color: #555;
}
.chat-tools-wrap .iconbtn:hover {
  color: white;
}
.chat-tools-wrap .iconbtn.active {
  color: white;
}

.chat .chat-lines i[class^="icon-"] {
  width: 16px;
  line-height: 16px;
  height: 16px;
  margin: 0;
  opacity: 1;
  display: inline-block;
  vertical-align: middle;
}

/* Fonts / font-size */
.chat-input-control input,
.chat-lines {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif ;
  font-size: 13px;
  line-height: 1.5em;
}
.chat-lines time {
  font-size: 11px;
}

.chat-lines a.externallink {
  color: #02C2FF;
}
.chat-lines a.externallink:visited {
  color: #004D74; 
}
.chat-lines a.externallink:hover, 
.chat-lines a.externallink:focus {
  color: #0088cc; 
}
.chat-lines a.nsfw-link {
  border-bottom: 1px dashed red;
}

.chat .chat-lines time, 
.chat .user-msg i {
  display: none !important; 
}
.chat.chat-time .chat-lines time,
.chat.chat-icons .user-msg i,
.chat-lines i[class*='icon-subscriber'] {
  display: inline-block !important; 
}

/* Theme - Dark */
.chat-theme-dark {
  background: #080808;
  border-radius: 0;
}
.chat-theme-dark .chat-input-wrap {
  border:none;
}
.chat-theme-dark .chat-lines time {
  color:#414141;
}
.chat-theme-dark .chat-lines > div.highlight time,
.chat-lines > div.highlight .continue {
  color: #838383;
}
.chat-theme-dark .chat-lines > .command-msg,
.chat-theme-dark .chat-lines > .error-msg,
.chat-theme-dark .chat-lines > .status-msg,
.chat-theme-dark .chat-lines > .ui-msg,
.chat-theme-dark .chat-lines > .own-msg,
.chat-theme-dark .chat-lines > .highlight {
  color: #dedede;
}
.chat-theme-dark .chat-lines > .broadcast-msg .msg {
  color: #edea12;
}
.chat-theme-dark .chat-lines > .own-msg {
  background: linear-gradient(to right, rgba(255,255,255,0.05) 0%,rgba(255,255,255,0.05) 90%,rgba(255,255,255,0) 100%);
}
.chat-theme-dark .chat-lines > .highlight {
  background: linear-gradient(to right,  rgba(0,150,255,0.5) 0%,rgba(0,150,255,0) 100%);
}
.chat-theme-dark .chat-lines > .command-msg,
.chat-theme-dark .chat-lines > .own-msg,
.chat-theme-dark .chat-lines > .highlight .msg,
.chat-theme-dark .chat-lines > .broadcast-msg .msg {
  text-shadow:1px 1px 0 rgba(0,0,0,0.5);  
}
.chat-theme-dark .chat-input-control {
  background: #090909;
  border:none;
}
.chat-theme-dark .chat-input-control input {
  color: #9e9e9e;
  background: #090909;
  text-shadow: none;
  outline: none;
}
/**
 * Need to keep these rules seperate
 * Browsers will kill the whole line of css if one rule is invalid
 **/
.chat-theme-dark input:input-placeholder {
  color:#222; 
}
.chat-theme-dark input::-webkit-input-placeholder {
  color:#222; 
}
.chat-theme-dark input:-moz-placeholder { /* Firefox 18- */
  color:#222; 
}
.chat-theme-dark input::-moz-placeholder {  /* Firefox 19+ */
  color:#222; 
}
.chat-theme-dark input:-ms-input-placeholder {
  color:#222; 
}

.chat-theme-dark .nano > .pane {
  background: rgba(0,0,0,0.3);
  width: 8px;
  right: 5px;
  top: 5px;
  bottom: 0;
}
.chat-theme-dark .nano > .pane > .slider {
  background: #999;
}
.chat-theme-dark .nano > .pane > .slider:hover,
.chat-theme-dark .nano > .pane.active > .slider {
  background: #eee; 
}

/**
 * Focus or highlight a line
 **/
.chat.focus-user .chat-lines > .user-msg {
  opacity:0.3;
}
.chat.focus-user .chat-lines > .user-msg.focused,
.chat.focus-user .chat-lines > .user-msg.highlight {
  opacity:1;
}

.chat .alert {
    margin-bottom: 0;
    padding-top:4px;  
    padding-bottom:4px;
    font-size: 12px;
}

/** 
 * Top menus 
 **/
.hint-popup,
.user-tools {
    width:100%;
    top:-5px;
    left:0; 
}
.hint-popup > div,
.user-tools > div,
#chat-broadcasts > div {
    border-radius: 4px;
    margin:5px 20px 5px 5px;
}

.user-tools .user-tools-user {
    .serif;
}

#chat-broadcasts .chat-emote {
    display: none;
}

/** 
 * Hints 
 */
.hint-popup > div {
    box-shadow: 0 2px 6px rgba(0,0,0,0.9);  
    padding:0;  
}
.hint-popup a:hover {
    cursor: pointer;  
    color: #6aa7f9;
}

.hint-popup .hidehint,
.hint-popup .nexthint {
    top: 0; 
    position: relative;
    float: right;
    right: -23px;
    line-height: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
    color: #CCC;
}
.hint-popup .hidehint {
    right: -27px;
}
.hint-popup .hidehint:hover,
.hint-popup .nexthint:hover {
    color: #111;
}
.hint-popup .alert {
    padding-right: 35px;
}

/**
 * User tools 
 */
.user-tools-wrap {
  margin-left: -5px;
}
.user-tools-wrap > a {
  margin: 0 5px;
}

/**
 * Chat menus 
 */
.chat-menu, 
.user-tools,
.hint-popup {
    display: none; 
    opacity: 0;
}

.chat-menu.active,
.user-tools.active,
.hint-popup.active {
    display: block;  
    opacity: 1;
}

.chat-menu, 
.user-tools,
.hint-popup {
    /*transition: top 0.25s ease-out, bottom 0.25s ease-out, opacity 0.1s ease-in;*/
    font-size: 12px;
}

.chat-menu {
    position: absolute; 
    right: 20px;
    bottom: -5px;
    width: 240px;
}
.chat-menu.active {
    bottom: 0;
}
.chat-menu h5,
.user-tools h5 {
    text-shadow: -1px -1px 0 rgba(0,0,0,0.25);
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;  
    background: rgb(79,79,79);
    background: linear-gradient(to bottom, rgba(79,79,79,1) 0%,rgba(46,46,46,1) 100%);
    border-bottom: 1px solid #121212;
    margin: 0;
    line-height: 20px;
    display: block;
    padding: 5px 15px 5px 10px;
    border-radius: 4px 4px 0 0;
}
.chat-menu .toolbar {
  width:100%;
  position: absolute;
  top: -31px;
  left:0; 
}
.chat-menu li, 
.chat-menu label {
  font-size:12px; 
}
.chat-menu label {
  font-weight: normal;
  margin: 0 0 5px 0;
}
.chat-menu label:hover {
  color: white;
}
.chat-menu .list-wrap, 
.chat-menu .list-wrap .scrollable {
  max-height: 330px;
  font-size: 0.9em;
}
.chat-menu .list-wrap,
.user-tools > div {
  box-shadow: 0 2px 6px rgba(0,0,0,0.9);  
  border-radius:0 0 4px 4px;  
  background: rgba(25,25,25,0.9); 
  padding:0;
}
.chat-menu .list-wrap {
  margin-top: auto;
}
.chat-menu ul,
.user-tools .tools {
  padding: 0 10px;
  margin: 10px 0;
}
.chat-menu ul > li:first-child h5 {
  margin-top:0;
}
.chat-menu ul li {
  text-overflow: ellipsis;
  overflow: hidden;
}
#chat-user-list ul li {
  line-height:18px;
}
#chat-user-list h6:first-child {
  margin-top:10px;
}
#chat-user-list h6 {
  font-weight: bold;
  margin: 0 0 5px 5px;
}
#chat-user-list hr {
  margin: 5px 0;
}
#chat-user-list ul {
  margin: 0;
}
#chat-user-list .user {
  cursor: pointer;
  .serif;
}

.user-tools a#unignoreuser,
.user-tools.user-ignored a#ignoreuser {
  display: none;
}
.user-tools.user-ignored a#unignoreuser {
  display: inline-block;
}

.chat-menu .nano > .pane {
  width: 8px;
  right: 3px;
  top: 3px;
  bottom: 3px;
}

/**
 * The text shown when a user is not logged in 
 **/
.chat-login-msg {
  display: inline-block;
  width: 100%;
  padding: 0 0 0 5px;
  line-height: 30px;
  color: rgba(255,255,255,0.5);
  text-shadow:-1px -1px 0 rgba(0,0,0,0.25);
}

/** 
 * Emote combo 
 **/
.chat-lines .emotecount {
  color: white;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.9);
  font-size: 10px;
  line-height: 10px;
  border-radius: 10px;
  padding:3px 6px;
  margin: 0 0 0 5px;
  background: #191919;
}
.chat-lines .emotecount {
  text-shadow: none;
  animation: emotecount 600ms 1;
  -webkit-animation: emotecount 600ms 1;
}
@keyframes emotecount {
  from {
    color: black;
    background-color: white;
  }
  to {
    color: white;
    background-color: #333;
  }
}
@-webkit-keyframes emotecount {
  from {
    color: black;
    background-color: white;
  }
  to {
    color: white;
    background-color: #333;
  }
}

.chat-lines .emotecount.x5 > span {
  font-size: 10px;
}
.chat-lines .emotecount.x10 > span {
  font-size: 16px;
}
.chat-lines .emotecount.x20 > span {
  font-size: 25px;
  vertical-align: middle; 
}
.chat-lines .emotecount.x30 > span {
  font-size: 35px;
  vertical-align: middle; 
}
.chat-lines .emotecount.x50 > span {
  font-size: 40px;
  vertical-align: middle; 
}

/**
 * Flair colors
 */
.chat a.user {
  color: #CACACA;
}
.chat a.user:hover {
  color: #FAFAFA;
}

/**
 * T1,T2
 */
.chat a.subscriber {
  color: #488ce7;
}
.chat a.subscriber:hover {
  color: #6aa7f9;
}

/**
 * T3
 */
.chat a.flair3 {
  color: #0060FF;
  text-shadow: 1px 1px 0 black;
}
.chat a.flair3:hover {
  color: #6AA7F9;
}

/**
 * T4
 */
.chat a.flair8 {
  color: #A427D6;
  text-shadow: 1px 1px 0 black;
}
.chat a.flair8:hover {
  color: #E564F4;
}

.chat a.vip {
  color: #4DB524;
}
.chat a.vip:hover {
  color: #4DB524;
}

.chat a.bot {
  color: #999;
}
.chat a.bot:hover {
  color: #999;
}

.chat a.admin {
  color: #B91010;
}
.chat a.admin:hover {
  color: #FF0000;
}

.chat .greentext {
  color: #6CA528;
}

.chat-broadcast {
  
}