body#chat-embedded {
margin:0;
padding:0;
height:100%;
overflow: hidden;
}
/*.chat-output, .chat-output .mCSB_container {
transform: scale(1) translate3d(0,0,0);	
-webkit-transform: scale(1) translate3d(0,0,0);	
}*/
.chat-output .mCSB_container {
margin-right:20px;
}
.chat-output, .chat-lines {
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
padding:0;
margin:0;
}
.chat-lines msg.emote {
font-style: italic;
}
.chat-native-scroll .chat-output {
position: absolute;	
top:0;
left:0;
overflow-x: hidden;
overflow-y: scroll;
width:100%;
}
.chat-frame {
position: relative;	
width:100%;
height:100%;
}
.chat-lines > div {
clear:both;
word-wrap:break-word;	
font-smoothing: none;
-webkit-font-smoothing: none;
padding-left:5px;
}
.chat-lines .continue {
user-select: none;
color:#222;
}
.chat-lines > div.failed span {
text-decoration:line-through;
opacity:0.5;
}
.chat-lines > div > a {
font-weight:bold;
}
.chat-lines hr {
margin:8px 0;
}

.chat-input, .chat-input-wrap, .chat-tools-wrap {
height: 30px;
}
.chat-input {
background: rgb(46,46,46); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(46,46,46,1) 0%, rgba(28,28,28,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,46,46,1)), color-stop(100%,rgba(28,28,28,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(46,46,46,1) 0%,rgba(28,28,28,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e2e2e', endColorstr='#1c1c1c',GradientType=0 ); /* IE6-9 */
width:100%;
position: absolute;
bottom:0;
margin:5px 0 0 0;
}
.chat-tools-wrap {
position: absolute;
right:0;
top:0;
margin:0;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}
.chat-input-wrap {
margin:0;
margin-right:90px;
border-radius:0;
}
.chat-input-control {
padding:3px 0 0 5px;
height:25px;
margin: 1px;
border-radius: 3px;
}
.chat-input-control .input {
background: none;
resize: none;
margin:0;
padding:0;
width:100%;
border:0;
border-radius:0;
box-shadow: none;	
box-sizing: border-box;
}
.chat-input-control .input:focus {
box-shadow: none;	
}
.chat-tools-wrap > div {
height: 30px;
overflow: hidden;	
}
.chat-tools-wrap .iconbtn {
cursor: pointer;	
width:30px;
height:30px;
line-height: 30px;
float:left;
display: block;
text-align: center;
}
.chat-tools-wrap .iconbtn:hover {
background: rgba(255,255,255,0.15);
}
.chat-tools-wrap .iconbtn:hover i {
opacity: 0.9;
}
.chat-tools-wrap .iconbtn.active {
background: rgba(255,255,255,0.25);
}
.chat-tools-wrap .iconbtn.active i {
opacity: 1;
}

/* Fonts / font-size */
.chat-lines {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-size: 14px;
line-height: 20px;
}
.chat-lines > div .p-whisper {
font-weight: bold;
}
.chat-lines > div time {
font-size: 11px;
}

.chat-lines a.externallink {
color: #02C2FF;
}
.chat-lines a.externallink:visited {
color: #0088cc;
}
.chat-lines a.externallink:hover, .chat-lines a.externallink:focus {
color: #004D74;
}

.chat .chat-lines time, 
.chat .chat-lines i {
display: none !important;	
}
.chat.chat-time .chat-lines time, 
.chat.chat-icons .chat-lines i, 
.chat-lines i.icon-subscriber, 
.chat-lines i.icon-administrator {
display: inline-block !important;	
}

/* Theme - Dark */
.chat-theme-dark {
background: #080808;
border-radius:4px;
box-shadow: inset 0 0 5px 5px rgba(0,0,0,0.25);
}
.chat-theme-dark .chat-input-wrap {
border:none;
}
.chat-theme-dark .chat-lines chat {
color: #ddd;
}
.chat-theme-dark .chat-lines > div time {
color:#414141;
}
.chat-theme-dark .chat-lines > div .p-whisper {
color: #990000;
}

.chat-theme-dark .chat-lines > div.highlight {
color: #fff371;
}

.chat-theme-dark .chat-lines > div.control {
color: #fff;
}
.chat-theme-dark .chat-lines > div > a.user, #chat-user-list a {
color: #cccccc; /* default pleb color */
}
.chat-theme-dark .chat-lines > div > a.user.subscriber, #chat-user-list a.subscriber {
color: #488ce7;
}
.chat-theme-dark .chat-lines > div > a.user.vip, #chat-user-list a.vip {
color: #CF31E2;
}
.chat-theme-dark .chat-lines > div > a.user.moderator, #chat-user-list a.moderator {
color: #429A2D;
}
.chat-theme-dark .chat-lines > div > a.user.admin, #chat-user-list a.admin {
color: #B91010;
}
.chat-theme-dark .chat-lines > div > a.user.bot, #chat-user-list a.bot {
color: #3636B2;
}
.chat-theme-dark .chat-input-control {
background: #040404;
border:none;
}
.chat-theme-dark .chat-input-control input {
color: #a5a5a5;
background: #040404;
}
.chat-theme-dark input:input-placeholder {
color:#222;
}
.chat-theme-dark input:-moz-placeholder {
color:#222;
}
.chat-theme-dark input:-ms-input-placeholder {
color:#222;
}
.chat-theme-dark input::-webkit-input-placeholder {
color:#222;
}

.chat .chat-lines i[class^="icon-"] {
width: 16px;
line-height: 16px;
height: 16px;
margin: 0;
opacity: 0.75;
}
.chat .chat-lines i[class^="icon-"]:hover {
background-position: top left;
}
.chat .chat-lines i.icon-subscriber {
opacity: 1;	
background: url("../img/ico/bobross.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-vip {
background: url("../img/ico/leaf.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-moderator {
background: url("../img/ico/weather-lightning.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-administrator {
background: url("../img/ico/cross-shield.png") no-repeat bottom left;
}
.chat .chat-lines i.icon-bot {
background: url("../img/ico/robot.png") no-repeat bottom left;
}
.chat-frame a.subscriber {
color: #54AAD2;
}
.chat-frame a.vip {
color: #CF31E2;
}
.chat-frame a.moderator {
color: #FF8A00;
}
.chat-frame a.admin {
color: #EE0000;
}
.chat-frame a.bot {
color: #3636B2;
}

.chat-menu {
position: absolute;
right:20px;
bottom:40px;
width:240px;
font-size:12px;
z-index:19;
}
#chat-settings.chat-menu {
width: 215px;
}
.chat-menu .toolbar {
width:100%;
position: absolute;
top:-31px;
left:0;	
}
.chat-menu h5 {
text-shadow:-1px -1px 0 rgba(0,0,0,0.25);
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;	
background: rgb(79,79,79); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(79,79,79,1) 0%, rgba(46,46,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(79,79,79,1)), color-stop(100%,rgba(46,46,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(46,46,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(46,46,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(79,79,79,1) 0%,rgba(46,46,46,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(79,79,79,1) 0%,rgba(46,46,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f4f4f', endColorstr='#2e2e2e',GradientType=0 ); /* IE6-9 */
border-bottom:1px solid #121212;
margin:0;
line-height:20px;
display: block;
padding:5px 10px;
border-radius: 4px 4px 0 0;
}
.chat-menu li, .chat-menu label {
font-size:12px;	
}
.chat-menu label:hover {
color: white;
}
.chat-menu-active {
z-index:20;
}
.chat-menu .list-wrap, 
.chat-menu .list-wrap .scrollable {
max-height:330px;	
}
.chat-menu .list-wrap {
background: rgba(25,25,25,0.9);
border-radius:0 0 4px 4px;
padding:0;
margin-top:auto;
}
.chat-menu .list-wrap .scrollable {
overflow: hidden;
}
.chat-menu ul {
padding:0 10px;
margin-top:10px;
}
.chat-menu ul > li:first-child h5 {
margin-top:0;
}
.chat-menu ul li {
text-overflow: ellipsis;
overflow: hidden;
}
#chat-user-list h6:first-child {
margin-top:10px;
}
#chat-user-list h6 {
font-weight: bold;
margin: 0 0 5px 5px;
}
#chat-user-list hr {
margin: 5px 0;
}
#chat-user-list ul {
margin: 0;
}
.chat-login-msg {
padding:0 0 0 10px;
line-height:30px;
font-size:14px;
color: rgba(255,255,255,0.5);
text-shadow:-1px -1px 0 rgba(0,0,0,0.25);
}
.chat-login-msg:hover {
color: rgba(255,255,255,1);
text-shadow:0 0 3px rgba(255,255,255,0.25);	
}