body#chat-embedded {
margin:0;
padding:0;
height:100%;
overflow: hidden;
}
/*.chat-output, .chat-output .mCSB_container {
transform: scale(1) translate3d(0,0,0);	
-webkit-transform: scale(1) translate3d(0,0,0);	
}*/
.chat-output, .chat-lines {
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
}
.chat-native-scroll .chat-output {
position: absolute;	
top:0;
left:0;
overflow-x: hidden;
overflow-y: scroll;
width:100%;
}
.chat-frame {
position: relative;	
width:100%;
height:100%;
}
.chat-lines > div {
padding: 0 0 0 3px;
font-smoothing: none;
-webkit-font-smoothing: none;
}
.chat-lines > div.pending, .chat-lines > div.failed {
opacity:0.5;
}
.chat-lines > div.failed span {
text-decoration:line-through;
}
.chat-lines > div > a {
font-weight:bold;
}
.chat-lines > div span {
word-wrap:break-word;
}

.chat-input {
width:100%;
position: absolute;
bottom:0;
}
.chat-input form {
margin:0;
padding:0;
}
.chat-tools-wrap {
padding:5px;
border-radius:0;
}
.chat-input-control {
margin:5px;
padding:5px;
border-radius:4px;
}
.chat-input-control .input {
background: none;
resize: none;
margin:0;
padding:0;
width:100%;
border:0;
border-radius:0;
box-shadow: none;	
box-sizing: border-box;
}
.chat-input-control .input:focus {
box-shadow: none;	
}


/* Fonts / font-size */
.chat-lines {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-size: 12px;
line-height: 16px;
}
.chat-lines > div .p-whisper {
font-weight: bold;
}
.chat-lines > div time {
font-size: 11px;
}

/* Theme - Light */
.chat-theme-light {
background: white;	
border-radius:4px;
}
.chat-theme-light .chat-tools-wrap {
background: #fafafa;	
border-radius:0 0 4px 4px;
}
.chat-theme-light .chat-input-wrap {
border-radius:0;
border-top:1px solid #cacaca;
border-bottom:1px solid #cacaca;
background: rgb(247,247,247);
background: linear-gradient(to bottom, rgba(247,247,247,1) 0%,rgba(226,226,226,1) 100%);
}
.chat-theme-light .chat-lines > div {
color: #010101;
}
.chat-theme-light .chat-lines > div time {
color:#000;
opacity:0.5;
}
.chat-theme-light .chat-lines > div .p-whisper {
color: red;	
}
.chat-theme-light .chat-input-control {
background:white;	
border-color: #cacaca;
border:1px solid #aeaeae;
}
.chat-theme-light .chat-input-control input {
color: #555;
background:white;
}


/* Theme - Dark */
.chat-theme-dark {
background: rgba(0,0,0,0.25);
border-radius:4px;
}
.chat-theme-dark .chat-input-wrap {
border:none;
}
.chat-theme-dark .chat-lines chat {
color: #ddd;
}
.chat-theme-dark .chat-lines > div time {
color:#fafafa;
opacity:0.25;
}
.chat-theme-dark .chat-lines > div .p-whisper {
color: #990000;	
}
.chat-theme-dark .chat-input-control {
background: #010101;
border-color: #cacaca;
border:1px solid black;
}
.chat-theme-dark .chat-input-control input {
color: #a5a5a5;
background: #010101;
}
.chat-theme-dark input:input-placeholder {
color:#444;
}
.chat-theme-dark input:-moz-placeholder {
color:#444;
}
.chat-theme-dark input:-ms-input-placeholder {
color:#444;
}
.chat-theme-dark input::-webkit-input-placeholder {
color:#444;
}
.chat-theme-dark i[class^="icon-"] {
opacity: 0.75;
background-image: url("../../vendor/img/glyphicons-halflings-white.png") !important;
}