body#chat-embedded {
margin:0;
padding:0;
height:100%;
overflow: hidden;
}
/*.chat-output, .chat-output .mCSB_container {
transform: scale(1) translate3d(0,0,0);	
-webkit-transform: scale(1) translate3d(0,0,0);	
}*/
.chat-output, .chat-lines {
-webkit-backface-visibility: hidden;
-webkit-perspective: 1000;
padding:0;
margin:0;
}
.chat-native-scroll .chat-output {
position: absolute;	
top:0;
left:0;
overflow-x: hidden;
overflow-y: scroll;
width:100%;
}
.chat-frame {
position: relative;	
width:100%;
height:100%;
}
.chat-lines > div {
clear:both;
word-wrap:break-word;	
font-smoothing: none;
-webkit-font-smoothing: none;
padding-left:1px;
}
.chat-lines > div.pending, .chat-lines > div.failed {
opacity:0.5;
}
.chat-lines > div.failed span {
text-decoration:line-through;
}
.chat-lines > div > a {
font-weight:bold;
}
.chat-lines hr {
margin:5px 0;
}

.chat-input, .chat-input-wrap, .chat-tools-wrap {
height:40px;
}
.chat-input {
width:100%;
position: absolute;
bottom:0;
margin:0;
}
.chat-tools-wrap {
position: absolute;
right:0;
top:0;
margin:0;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
}
.chat-input-wrap {
margin:0;
margin-right:85px;
margin-left:3px; 
border-radius:0;
}
.chat-input-control {
margin:0;
margin-top:5px;
padding: 5px;
border-radius:4px;
}
.chat-input-control, .chat-tools-wrap > div {
margin-top:5px;	
}
.chat-input-control .input {
background: none;
resize: none;
margin:0;
padding:0;
width:100%;
border:0;
border-radius:0;
box-shadow: none;	
box-sizing: border-box;
}
.chat-input-control .input:focus {
box-shadow: none;	
}
.chat-send-btn {
height: 30px;
border-radius: 0 4px 4px 0;
width: 50px;
}
.chat-tools-wrap .iconbtn {
cursor: pointer;	
width:15px;
height:30px;
display: inline-block;
}


/* Fonts / font-size */
.chat-lines {
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
font-size: 14px;
line-height: 20px;
}
.chat-lines > div .p-whisper {
font-weight: bold;
}
.chat-lines > div time {
font-size: 11px;
}

.chat-lines a.externallink {
color: #02C2FF;
}
.chat-lines a.externallink:visited {
color: #0088cc;
}
.chat-lines a.externallink:hover, .chat-lines a.externallink:focus {
color: #004D74;
}

.chat .chat-lines time, 
.chat .chat-lines i {
display: none !important;	
}
.chat.chat-time .chat-lines time, 
.chat.chat-icons .chat-lines i {
display: inline-block !important;	
}



/* Theme - Dark */
.chat-theme-dark {
background: rgba(0,0,0,0.25);
border-radius:4px;
}
.chat-theme-dark .chat-input-wrap {
border:none;
}
.chat-theme-dark .chat-lines chat {
color: #ddd;
}
.chat-theme-dark .chat-lines > div time {
color:#414141;
}
.chat-theme-dark .chat-lines > div .p-whisper {
color: #990000;	
}
.chat-theme-dark .chat-input-control {
background: #010101;
border:none;
}
.chat-theme-dark .chat-input-control input {
color: #a5a5a5;
background: #010101;
}
.chat-theme-dark input:input-placeholder {
color:#444;
}
.chat-theme-dark input:-moz-placeholder {
color:#444;
}
.chat-theme-dark input:-ms-input-placeholder {
color:#444;
}
.chat-theme-dark input::-webkit-input-placeholder {
color:#444;
}
.chat-theme-dark .chat-lines i[class^="icon-"] {
opacity: 0.15;
background-image: url("../../vendor/img/glyphicons-halflings-white.png") !important;
}
.chat-theme-dark .chat-lines i[class^="icon-"]:hover {
opacity:1;
}

.chat-frame a.subscriber {
color: #54AAD2;
}
.chat-frame a.vip {
color: #CF31E2;
}
.chat-frame a.moderator {
color: #FF8A00;	
}
.chat-frame a.admin {
color: #EE0000;	
}
.chat-frame a.protect {
color: #CCCCCC;
}

.chat-menu {
position: absolute;
right:20px;
bottom:40px;
width:180px;
font-size:12px;
z-index:19;
}
.chat-menu-active {
z-index:20;
}
.chat-menu .list-wrap, 
.chat-menu .list-wrap .scrollable {
max-height:330px;	
}
.chat-menu .list-wrap {
background: rgba(0,0,0,0.8);
border-radius:4px;
padding:10px;
margin-top:auto;
}
.chat-menu .list-wrap .scrollable {
overflow: hidden;
}
.chat-menu ul {
margin-bottom:0;
}
.chat-menu ul > li:first-child h5 {
margin-top:0;
}
.chat-menu ul li {
text-overflow: ellipsis;
overflow: hidden;
}