.team-maker-overlay {
z-index: 200;
background: rgba(0, 0, 0, 0.8);
position: absolute;
top: 0;
left: 0;
}

.team-maker {
z-index: 201;
position: absolute;
top: -65px;
left: 0;
z-index: 500;
width: 100%;
background: url("../img/bodybg.png") repeat top left;
border-radius: 8px;
border-top: 2px solid #333;
border-left: 2px solid #333;
border-right: 2px solid #222;
border-bottom: 2px solid #222;
user-select: none;
-moz-user-select: none;
-webkit-user-select: none;
width: 940px;
}

@media ( min-width : 1200px) {
	.team-maker {
	width: 1170px;
	}
}

.team-maker .team-maker-inner-overlay {
top: 0;
left: 0;
position: absolute;
width: 100%;
background: rgba(20, 20, 20, 0.75);
border-radius: 8px;
}

.team-maker.filter-free .champion,
.team-maker.filter-owned .champion {
display: none;
}
.team-maker.filter-owned .champion.champion-unlocked,
.team-maker.filter-free .champion.champion-free {
display: block;
}
.team-maker .champion.hidden {
visibility: visible;
display: none !important;
}

.team-maker .champion .thumbnail {
position: relative;
border: none;
}

.team-maker .champion-slot-empty img {
opacity: 0.4;
}

.team-maker .champion-slot {
position: relative;
}

.team-maker .champion-slot .icon-remove {
display: none;
}

.team-maker .champ-focus .champion {
opacity: 0.3;
}

.team-maker .champ-focus .champion.focused-champ {
opacity: 1;
}

.team-maker .champion,.team-maker .champion-slot {
cursor: pointer;
-webkit-transition: 0.5s ease-in-out opacity, 0.2s ease-out box-shadow;
-moz-transition: 0.5s ease-in-out opacity, 0.2s ease-out box-shadow;
-o-transition: 0.5s ease-in-out opacity, 0.2s ease-out box-shadow;
transition: 0.5s ease-in-out opacity, 0.2s ease-out box-shadow;
}

.team-maker .champion:hover,.team-maker .champion-slot:hover {
box-shadow: 0 0 8px 1px rgba(0, 136, 204, 1);
-webkit-transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
-moz-transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
-o-transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
transition: 0.5s ease-in-out opacity, 0s ease-in box-shadow;
}

.team-maker .champion:hover {
box-shadow: inset 0 0 8px 1px rgba(0, 136, 204, 1);
}

.team-maker .team-maker-selection-inner>.item>div {
margin: 5px 80px;
}

.team-maker .champ-filters {
margin: 20px 85px 30px 85px;
}

.team-maker .champ-sorting {
padding: 5px 10px;
margin: 0 60px 0 80px;
background: black;
border-top-left-radius: 6px;
border-top-right-radius: 6px;
}

.team-maker .champ-search input {
margin: 0;
color: #ffffff;
background-color: #515151;
border-color: #111111;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0
rgba(255, 255, 255, .15);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0
rgba(255, 255, 255, .15);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1), 0 1px 0
rgba(255, 255, 255, .15);
}

.team-maker .champ-search .typeahead {
display: none !important;
}

.team-maker .team-maker-console {
z-index: 600;
line-height: 30px;
font-size: 24px;
color: #8a1919;
}

.team-maker-currency {
text-align: center;
margin: 20px 0;
}

.team-maker-currency>span {
padding: 8px;
background: rgba(0, 0, 0, 0.5);
}

.team-maker-currency>span:nth-child(1) {
border-radius: 4px 0 0 4px;
}

.team-maker-currency>span:nth-child(2) {
border-radius: 0 4px 4px 0;
}

.team-maker-currency strong {
color: whiteSmoke;
font-size: 1.2em;
}

.team-maker-slots {
margin: 20px 0;
}

.team-maker-slots>div {
margin: 0 auto;
width: 50%;
}

.team-maker .champion-slot .thumbnail {
max-width: 100%;
}

.team-maker-selection {
margin: 0 60px 0 80px;
}

.team-maker .team-maker-selection-inner {
height: 234px;
overflow: hidden;
overflow-y: scroll;
background: rgba(0, 0, 0, 0.8);
border-bottom-left-radius: 6px;
}

@media ( min-width : 1200px) {
	.team-maker .team-maker-selection-inner {
	height: 303px;
	}
}

.team-maker-selection.disabled .champion,.team-maker .champion.disabled {
box-shadow: none;
cursor: default;
}

.team-maker .champion.disabled {
opacity: 0.2;
}

.team-maker .champion .champion-values>span {
display: none;
}

.team-maker .champion-locked .champion-values .championValue,.team-maker .champion-free .champion-values .championFree,.team-maker .champion-unlocked .champion-values .championUnlocked {
display: block;
}

.team-maker .champion-free .champion-values .championValue,.team-maker .champion-unlocked .champion-values .championFree,.team-maker .champion-unlocked .champion-values .championValue {
display: none;
}

.team-maker .champion .champion-values {
padding: 0;
clear: both;
color: #999;
text-align: center;
font-size: 12px;
position: absolute;
width: 100%;
bottom: 0;
left: 0;
background: rgba(0, 0, 0, 0.6);
}

.team-maker .champion .championUnlocked {
color: yellow;
line-height: 15px;
}

.team-maker .champion .championFree {
color: #0088cc;
line-height: 15px;
}

.team-maker .champion .championValue {
color: #ccc;
}

.team-maker .champion .championMultiplier {
font-size: 12px;
line-height: 12px;
color: #fafafa;
text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
background: rgba(0, 0, 0, 0.75);
position: absolute;
top: 0;
left: 0;
padding: 2px;
border-bottom-right-radius: 4px;
display: none;
}

.team-maker .champion:hover .championMultiplier {
display: block;
}

.team-maker .champion-transfer .icon-transfers,.team-maker .champion-transfer .icon-transfer-in,.team-maker .champion-transfer .icon-transfer-out {
position: absolute;
top: 0;
left: 0;
}

.team-maker .team-maker-progress {
font-size: 1.2em;
line-height: 30px;
color: #ccc;
text-align: center;
position: absolute;
border-radius: 6px;
background: rgba(0, 0, 0, 0.8);
padding: 15px;
}

.team-maker .team-maker-progress .busy {
-webkit-animation: whitetxtglow 1s ease-in infinite;
-moz-animation: whitetxtglow 1s ease-in infinite;
}

.team-maker .team-maker-popup {
margin: 10px 0;
line-height: 20px;
font-size: 13px;
}

.team-maker-tools {
text-align: center;
margin: 30px 0;
padding: 0;
}

.team-maker-help {
text-align: center;
font-size: 12px;
color: #666;
text-shadow: 1px 1px 0 black;
}