@import "../../common";
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500");

body, .chat-lines {
    font-family: 'Roboto', Helvetica, "Trebuchet MS", Verdana, sans-serif;
    font-weight: 500 !important;
}
#chat-output-frame {
    margin: 0;
}

html,
body,
#chat,
.msg-chat,
.greentext {
    background: none !important;
}

time,
i[class^="icon-"],
.features,
.pref-showtime .time {
    display: none !important;
}

.continue,
.nano-slider {
    visibility: hidden !important;
}

.chat-lines,
.msg-chat,
.msg-chat .text:before,
.greentext,
.combo {
    color: $text-color !important;
}

.chat-lines {
    font-size: 20px;
    line-height: 26px;
}

.msg-chat {
    margin: 0;
    padding: 1px 20px 1px 5px;
    text-shadow:    -1px -1px 0 rgba(black,0.75),
                    1px -1px 1px rgba(black,0.75),
                    -1px 1px 0 rgba(black,0.75),
                    1px 1px 1px rgba(black,0.75);
    letter-spacing: 0.03em;
}
.msg-chat .text:before {
    vertical-align: middle !important;
}
.msg-emote {
    line-height: 34px;
}
a.externallink,
a.externallink:hover {
    color: $color-accent-light;
}