@import "../../common";
@import "../../anim";
@import "../../emotes/emoticons";
@import "../../icons/icons";

$menuwidthmax: 320px;
$menubottommax: 95px;

html, body {
    height: 100%;
}
body {
    overflow: hidden;
    background: $color-dark;
    position: relative;
    color: $text-color1;
    margin: 0;
    padding: 0;
}
a {
    color: $color-accent;
    text-decoration: none;
}
a:hover,
a:focus {
    color: $color-accent;
    text-decoration: underline;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid $color-surface-dark3;
}

/* Layout */
#chat {
    border-radius: 0;
    background: $color-chat-bg;
    position: relative;
    width:100%;
    height:100%;
    min-width: 300px;
}
#chat-input {
    padding: 2px 6px 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}
#chat-input-control {
    @extend .chat-font;
    font-size: 13px;
    line-height: 1.5em;
}
#chat-output-frame {
    margin-bottom: 90px;
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#chat-tools-wrap {
    position: relative;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    .iconbtn {
        @extend .chat-tools-item;
    }
    .iconbtn:hover,
    .iconbtn.active{
        @extend .chat-tools-item-active;
    }
    .ping {
        animation: whisper-pulse 2s 1;
        border-radius:50%;
    }
}

#chat-whisper-notif {
    margin-left:3px;
    color: $color-light;
    font-size: 11px;
    display: inline-block;
    position: absolute;
    vertical-align: text-bottom;
    height: 30px;
    line-height: 30px;
}

.chat-tools-item {
    font-size: 20px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    color: $color-chat-disabled;
    position: relative;
    text-decoration: none;
}
.chat-tools-item-active {
    color: $color-chat-text1;
}
.chat-output {
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-width: 0 2px 0 2px;
    border-style: solid;
}
.chat-lines {
    @extend .chat-font;
    padding-top: 10px;
    font-size: 13px;
    line-height: 20px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    outline: 0 !important;
}

#chat-windows-thumbnails {
    top: 0;
    width: calc(100% - 180px);
    position: absolute;
    text-align: center;
    margin: 0 90px;
    overflow: hidden;
    .ctrl {
        @extend .chat-tools-item;
        i {
            transition: all 100ms ease-in-out;
            position: absolute;
            display: block;
            left: 10px;
            top: 10px;
            width: 10px;
            height: 10px;
            background-color: $color-surface-dark3;
            vertical-align: middle;
            text-align: center;
            border-radius: 50%;
            font-size: 11px;
        }
        i:before {
            display:none;
        }
        &.win-main i {
            background-color: $color-surface-dark4;
        }
    }
    .ctrl.active {
        &.tag-green i {
            background-color: $color-green;
            color: $color-green;
        }
        &.tag-yellow i {
            background-color: $color-yellow;
            color: $color-yellow;
        }
        &.tag-orange i {
            background-color: $color-orange;
            color: $color-orange;
        }
        &.tag-red i {
            background-color: $color-red;
            color: $color-red;
        }
        &.tag-purple i {
            background-color: $color-purple;
            color: $color-purple;
        }
        &.tag-blue i {
            background-color: $color-blue;
            color: $color-blue;
        }
        &.tag-sky i {
            background-color: $color-sky;
            color: $color-sky;
        }
        &.tag-lime i {
            background-color: $color-lime;
            color: $color-lime;
        }
        &.tag-pink i {
            background-color: $color-pink;
            color: $color-pink;
        }
        &.win-main i {
            background-color: $color-alert-text;
            color: $color-alert-text;
        }
        &.select i {
            transform: scale(1.5);
            background-color: transparent;
        }
        &.select i:before {
            display: block;
        }
    }
}

#chat-popout-btn {
    padding: 5px;
    color: $text-color2;
    cursor: pointer;
    position: absolute;
    right:20px;
    top:0;
    span {
        background: $color-surface-dark1;
        padding: 0 1px;
        border-radius: 3px;
    }
}
#chat-popout-btn:hover {
    color: $text-color;
}

#chat-input-wrap,
#chat-input-control {
    height: 50px;
    position: relative;
}
#chat-input-control {
    color: $color-chat-text2;
    background: $color-surface-dark1;
    border: 1px solid $color-surface-dark3;
    outline: none;
    resize: none;
    margin: 0;
    padding: 5px;
    width: 100%;
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
}
.chat.chat-autocomplete-in #chat-input-control  {
    border-radius: 0 0 3px 3px;
}
#chat-input-control:focus {
    box-shadow: none;
}
#chat-input-control::-webkit-input-placeholder { color: $color-chat-disabled; }
#chat-input-control::-moz-placeholder { color: $color-chat-disabled; }
#chat-input-control:-ms-input-placeholder { color: $color-chat-disabled; }
#chat-input-control:-moz-placeholder { color: $color-chat-disabled; }

/* Base ChatMessage */
.msg-chat {
    clear: both;
    word-wrap: break-word;
    padding: 3px 12px 3px 3px;
    color: $color-chat-text2;
    .user {
        @extend .serif-font;
        font-weight:bold;
        cursor: pointer;
    }
    .chat-user {
        cursor: pointer;
        position: relative;
        z-index: 120;
    }
    .chat-user:hover {
        text-decoration: underline;
    }
    hr {
        margin: 8px 0;
    }
    .time {
        font-size: 11px;
        color: $color-chat-disabled;
        display: none; /* hidden by default */
    }
    .greentext {
        color: $color-green-text;
    }
    .externallink,
    .nsfw-link {
        border-style: solid;
        border-color: transparent;
        border-width: 1px 0 1px 0;
    }
    .externallink {
        color: $color-link;
        position: relative;
        z-index: 120;
    }
    .externallink:visited {
        color: $color-link-visited;
    }
    .externallink:hover,
    .externallink:focus {
        color: $color-link-hover;
    }
    .nsfw-link {
        border-bottom: 1px dashed $color-underline-nsfw !important;;
    }
    .nsfl-link {
        border-bottom: 1px dashed $color-underline-nsfl !important;
    }
}

/* Flairs */
a {

    &.user {
        color: $color-label-user;
    }
    &.user:hover {
        color: $color-label-user-alt;
    }

    /* T1,T2 */
    &.subscriber {
        color: $color-label-sub;
    }
    &.subscriber:hover {
        color: $color-label-sub-alt;
    }

    /* T3 */
    &.flair3 {
        color: $color-label-sub2;
    }
    &.flair3:hover {
        color: $color-label-sub2-alt;
    }

    /* T4 */
    &.flair8 {
        color: $color-label-sub3;
    }
    &.flair8:hover {
        color: $color-label-sub3-alt;
    }

    &.vip {
        color: $color-label-vip;
    }
    &.vip:hover {
        color: $color-label-vip-alt;
    }

    &.bot {
        color: $color-label-bot;
    }
    &.bot:hover {
        color: $color-label-bot-alt;
    }

    &.admin {
        color: $color-label-admin;
    }
    &.admin:hover {
        color: $color-label-admin-alt;
    }

    &.flair11 {
        color: $color-label-bot2;
    }
    &.flair11:hover {
        color: $color-label-user;
    }

    &.flair12 {
        color: $color-broadcaster;
    }
    &.flair12:hover {
        color: $color-broadcaster-alt;
    }
}

/* Base ChatUserMessage */
.msg-user {
    .features {
        display: inline-block;
        height: 16px;
        .flair {
            display: inline-block;
            vertical-align: top;
            line-height: 16px;
            margin: 0;
            opacity: 1;
        }
    }
}

/* Status messages */
.msg-status,
.msg-command,
.msg-error,
.msg-info {
    white-space: pre-wrap;
}
.msg-status,
.msg-command,
.msg-error {
    color: $color-chat-text1;
}
.msg-status .text:before,
.msg-command .text:before,
.msg-info .text:before,
.msg-error .text:before {
    content: '';
    display: inline-block;
    vertical-align: text-top;
    margin-right: 4px;
}
.msg-status .text:before {
    @extend .icon-status;
}
.msg-command .text:before {
    @extend .icon-command;
}
.msg-info .text:before {
    @extend .icon-info;
}
.msg-error .text:before {
    @extend .icon-error;
}
.msg-status.msg-continue .text:before,
.msg-command.msg-continue .text:before,
.msg-info.msg-continue .text:before,
.msg-error.msg-continue .text:before {
    display: none;
}

/* Own messages */
.msg-own {
    background-color: $color-chat-emphasize;
    color: $color-chat-text1;
}

/* Censored */
.censored .text {
    display: none;
}
.censored .ctrl {
    display: inline-block;
}
.censored .ctrl:after {
    color: $color-accent;
    cursor: pointer;
    padding-left: 5px;
    content: '<censored>';
}
.censored .ctrl:hover:after {
    color: $color-accent-light;
}

/* Continue */
.msg-continue .text:before {
    color: $color-chat-disabled;
    content: '> ';
}
.msg-continue .features,
.msg-continue .user {
    display: none;
}

/* /ME message */
.msg-emote .text {
    font-style: italic;
}
.msg-emote .chat-emote {
    vertical-align: baseline;
}

/* Whispers */
.msg-whisper {
    background-color: $color-chat-emphasize;
    margin: 1px 0;
}
.msg-whisper .text {
    display: block;
    padding: 12px 8px;
}
.msg-whisper a.user {
    background: $color-accent;
    padding: 1px 4px 1px 4px;
    border-radius: 2px;
    color: white;
    font-weight: normal;
}
.msg-whisper a.user:hover {
    text-decoration: none;
}

/* Tagging */
.msg-tagged {
    background-color: $color-chat-tagged;
    position: relative;
    padding-left: 7px;
}
.msg-tagged:before {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    min-width: 4px;
    display: block;
    background: $color-black;
    content: '';
}
.msg-tagged-green:before {
    background-color: $color-green;
}
.msg-tagged-yellow:before {
    background-color: $color-yellow;
}
.msg-tagged-orange:before {
    background-color: $color-orange;
}
.msg-tagged-red:before {
    background-color: $color-red;
}
.msg-tagged-purple:before {
    background-color: $color-purple;
}
.msg-tagged-blue:before {
    background-color: $color-blue;
}
.msg-tagged-sky:before {
    background-color: $color-sky;
}
.msg-tagged-lime:before {
    background-color: $color-lime;
}
.msg-tagged-pink:before {
    background-color: $color-pink;
}
.msg-tagged-black:before {
    background-color: $color-black;
}

/* Historical messages */
.msg-historical {
    color: $text-color1;
}
.msg-historical:before {
    background: none !important;
}
.msg-historical .time {
    display: inline !important;
}
.chat-output:not(.chat-win-main) {
    .msg-historical {
        background-color: $color-chat-emphasize;
        color: $color-chat-text1;
    }
    .msg-historical.msg-own {
        background: none !important;
        color: $color-chat-text2;
    }
}

/* Whispers */
.chat-open-whisper:hover,
.chat-remove-whisper:hover {
    cursor: pointer;
    text-decoration: none;
    color: $color-light;
}

/* Broadcasts */
.msg-broadcast {
    background-color: $color-chat-emphasize;
    color: $color-text-broadcast;
}

/* Highlight */
.msg-highlight {
    color: $color-chat-text1;
    background-color: $color-chat-highlight;
    time, .continue {
        color: $color-chat-text3;
    }
}

/* Focus or highlight a line */
.focus-user .msg-chat {
    opacity:0.3;
}

/* Emotes and combo */
.chat-emote {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 10px;
    margin: 0 2px;
    overflow: hidden;
    text-indent: -90000px;
    vertical-align: middle;
}
.chat-combo {
    @extend .roboto-regular;
    color: $color-light;
    font-size: 14px;
    display: inline-block;
    position: relative;
    line-height: 34px;
    i {
        font-style: normal;
        vertical-align: middle;
        line-height: 1em;
    }
    .hit,
    .combo,
    .count,
    .x {
        @extend .roboto-regular;
        text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    }
    .combo {
        display: none;
        color: $text-color1;
        font-weight: normal;
    }
    .hit {
        color: $color-light;
        animation: emote-hit 600ms 1;
        font-style: italic;
        text-transform: uppercase;
        margin-left: 0;
        letter-spacing: 0.05em;
        display: inline-block;
    }
    .count {
        font-size: 16px;
        letter-spacing: -0.05em;
        font-weight: bold;
    }
    .x {
        font-size: 13px;
    }
    &.x5 {
        .count {
            font-size: 150%;
        }
    }
    &.x10 {
        .count {
            font-size: 200%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.x20 {
        .count {
            font-size: 300%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.x30 {
        .count {
            font-size: 400%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.x50 {
        .count {
            font-size: 500%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.combo-complete.x10,
    &.combo-complete.x20,
    &.combo-complete.x30,
    &.combo-complete.x50 {
        animation: emote-greyout 3500ms 1;
        background: transparent url("../../web/img/blood-1.png") no-repeat center center;
        background-size: 100% 100%;
        filter: grayscale(100%);
        .combo {
            color: $color-light;
            margin-left: 5px;
        }
    }
    &.combo-complete .combo {
        animation: emote-complete 1000ms 1;
        display: inline-block;
    }
    &.combo-complete .hit {
        display: none;
    }

}

/* Helpers */
.chat-scroll-notify {
    color: $color-chat-text3;
    background: $color-surface-dark3;
    position: absolute;
    display: none;
    bottom: 0;
    left: 4px;
    right: 4px;
    text-align: center;
    cursor: pointer;
    z-index: 130;
    border-radius: 3px;
    line-height: 25px;
}
.chat-scroll-notify:hover {
    color: $color-chat-text1;
}
.chat-output.chat-unpinned .chat-scroll-notify {
    display: block;
}
.chat.chat-autocomplete-in .chat-scroll-notify  {
    display: none;
}
.chat-output-whisper .msg-chat {
    line-height: 150%;
}

/* Auto complete */
#chat-auto-complete {
    display: none;
    opacity: 0;
    z-index: 131;
    border-radius: 3px 3px 0 0;
    position: absolute;
    line-height: 25px;
    height: 25px;
    top: -25px;
    left: 0;
    right: 0;
    overflow: hidden;
    white-space: nowrap;
    font-size: 14px;

    ul {
        position: absolute;
        white-space: nowrap;
        list-style: none;
        padding:0;
        margin:0;
    }
    li {
        padding: 0 4px;
        cursor: pointer;
        text-decoration: none;
        display: inline-block;
        font-size: 13px;
        color: $color-chat-text3;
        background: $color-surface-dark3;

        &:first-child {
            border-radius: 3px 0 0 0;
        }
        &:last-child {
            border-radius: 0 3px 0 0;
        }
        &:hover {
            color: lighten($color-chat-text3,20);
        }
        &.active {
            color: $text-color;
        }
    }
}
#chat-auto-complete.active {
    display: block;
}

/* Chat menus */
.chat-menu {
    display: none;
    position: absolute;
    z-index: 220;

    height: auto;
    width: 100%;
    bottom: $menubottommax;
    max-width: $menuwidthmax;
    right: 0;
    top: 0;

    .toolbar h5 {
        color: $text-color1;
        padding: 10px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        background: $color-surface-dark4;
        border-bottom: 1px solid #121212;
        display: block;
        margin: 0;
    }
    .nano > .pane {
        width: 8px;
        right: 3px;
        top: 3px;
        bottom: 3px;
    }
    .list-wrap {
        background-color: $color-surface-dark2;
        height: 100%;
    }
    .content {
        padding: 10px 20px 10px 10px
    }
    .scrollable {
        max-height: calc(100% - 36px);
    }
    .list-wrap, .toolbar h5 {
        border-radius: 0;
    }
    .toolbar {
        position: relative;
        top: auto;
        left: auto;
    }
    .menu-close {
        float: right;
        display: inline-block;
    }
    .menu-close:hover {
        cursor: pointer;
        color: $color-light;
    }
}
.chat-menu.active {
    display: block;
}
.chat-menu.left {
    left: 0;
    right: auto;
    .list-wrap {
        box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, 0.2);
    }
}
.chat-menu.right {
    right: 0;
    left: auto;
    .list-wrap {
        box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    }
}

#chat-emote-list {
    min-width: $menuwidthmax;
    .content {
        text-align: center;
        outline: 0;
    }
    .emote {
        user-select: none;
        display: inline-block;
        line-height: 32px;
        margin: 3px;
    }
    .emote-group:not(.disabled) .emote:hover {
        cursor: pointer;
        background-color: rgba(white,0.1);
    }
}
#chat-whisper-users {
    min-width: $menuwidthmax;
    .content > ul {
        margin: 0;
        padding: 10px 0;
    }
    .conversation {
        list-style: none;
        position: relative;
        cursor: pointer;
        padding-left: 10px;
        .user {
            color: $color-accent;
            display: block;
        }
        .user:hover {
            color: $color-accent-light;
        }
        .badge, .remove {
            float: right;
            margin-right: 10px;
        }
        .badge {
            margin-right: 5px;
        }
        .remove {
            padding: 2px;
            text-decoration: none;
        }
        .remove:hover {
            color: $color-light;
        }
    }
    .unread-0 .badge {
        display: none;
    }
    .unread-0 .user,
    .unread-0 .user:hover {
        color: $text-color1;
    }
    .empty {
        color: $text-color1;
        margin: 12px;
    }
}
#chat-user-list {
    .user {
        margin: 0;
        padding: 0 32px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        @extend .serif-font;

        .whisper-nick {
            display: none;
            padding: 3px;
            color: $text-color2;
            position: absolute;
            top: 0;
            left: 8px;
        }
        .whisper-nick:hover {
            color: $text-color;
        }
        &:hover .whisper-nick {
            display: block;
        }
    }
    .content {
        padding: 20px 0;
    }
    .scrollable {
        max-height: calc(100% - 66px);
    }

    &.search-in .user {
        display: none;
    }
    &.search-in .user.found {
        display: block;
    }
}
#chat-settings {
    .tools {
        margin: 0;
        padding: 0;
    }

    .form-group {
        margin: 12px 20px;
    }
    .form-group:first-child {
        margin-top: 10px;
    }
    .form-group:last-child {
        margin-bottom: 10px;
    }

    hr {
        margin-left: 20px;
        margin-right: 20px;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 10px;
        padding-left: 18px;
        font-size: 12px;
        color: $text-color2;
        text-transform: uppercase;
    }
    label {
        font-weight: normal;
    }
}

/* Loading / login screens */
#chat-login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.85);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}
#chat-loading {
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

/* Settings */
.pref-showtime time {
    display: inline !important;
}
.pref-hideflairicons .features {
    display: none;
}
.pref-autocompletehelper #chat-auto-complete.active {
    //display: block;
    opacity: 1;
}

/* Nano */
.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
.nano > .nano-content {
    overflow-anchor : none;
    position        : absolute;
    overflow        : scroll;
    overflow-x      : hidden;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background : transparent;
    position   : absolute;
    width      : 8px;
    right      : 4px;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
    opacity               : 0.8;
    background            : $color-surface-light2;
    position              : relative;
    margin                : 0 1px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    border-radius         : 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
}

/** Form Controls */
.form-control {
    color: $color-chat-text2;
    background: $color-surface-dark1;
    border: 1px solid lighten($color-surface-dark1, 9);
}
.form-control:focus {
    color: $color-chat-text1;
    background: $color-surface-dark1;
    border: 1px solid lighten($color-surface-dark1, 15);
    box-shadow: none;
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    color: $text-color1;
    opacity: 1;
}
.form-control::-webkit-input-placeholder { color: $text-color3; }
.form-control::-moz-placeholder { color: $text-color3; }
.form-control:-ms-input-placeholder { color: $text-color3; }
.form-control:-moz-placeholder { color: $text-color3; }