@import "../../common";
@import "../../emotes/emoticons";
@import "../../icons/icons";

html, body {
    height: 100%;
}
body {
    overflow: hidden;
    background: $color-dark;
    position: relative;
    color: $text-color1;
    margin: 0;
    padding: 0;
}
a {
    color: $color-accent;
    text-decoration: none;
}
a:hover,
a:focus {
    color: $color-accent;
    text-decoration: underline;
}
hr {
    margin: 20px 0;
    border: 0;
    border-top: 1px solid black;
    border-bottom: 1px solid $color-surface-dark3;
}

#chat-login-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.85);
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

#chat-loading {
    opacity: 0.2;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
}

#chat {
    border-radius: 0;
    background: $color-chat-bg;
    position: relative;
    width:100%;
    height:100%;
    min-width: 300px;
}
#chat-input-control {
    @extend .chat-font;
    font-size: 13px;
    line-height: 1.5em;
}
#chat-output {
    width: 100%;
    height: 100%;
    border-color: transparent;
    border-width: 0 2px 0 2px;
    border-style: solid;
}
#chat-output-frame {
    margin-bottom: 90px;
    height: auto;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#chat-input {
    position: absolute;
    width:100%;
    bottom: 0;
}
#chat-lines {
    @extend .chat-font;
    padding-top: 10px;
    font-size: 13px;
    line-height: 20px;
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000px;
    outline: 0 !important;
}
#chat-lines > div {
    clear: both;
    word-wrap: break-word;
    padding: 3px 12px 3px 3px;

    i[class^="icon-"] {
        display: inline-block;
        vertical-align: top;
        width: 16px;
        line-height: 16px;
        height: 16px;
        margin: 0;
        opacity: 1;
    }

    .user {
        @extend .serif-font;
        font-weight:bold;
        cursor: pointer;
    }

    .features {
        display: inline-block;
        height: 16px;
    }

    &.msg-emote .text {
        font-style: italic;
    }
    &.msg-emote .chat-emote {
        vertical-align: baseline;
    }
    &.msg-continue .text:before {
        color: $color-chat-disabled;
        content: '> ';
    }
    &.msg-continue > .features,
    &.msg-continue > .user {
        display: none;
    }

    .externallink,
    .nsfw-link
    {
        border-style: solid;
        border-color: transparent;
        border-width: 1px 0 1px 0;
    }
    .externallink {
        color: $color-link;
        position: relative;
        z-index: 120;
    }
    .externallink:visited {
        color: $color-link-visited;
    }
    .externallink:hover,
    .externallink:focus {
        color: $color-link-hover;
    }
    .nsfw-link {
        border-bottom: 1px dashed $color-underline-nsfw !important;;
    }
    .nsfl-link {
        border-bottom: 1px dashed $color-underline-nsfl !important;
    }

    &.msg-highlight time,
    &.msg-highlight .continue {
        color: $color-chat-text3;
    }

    &.msg-command,
    &.msg-error,
    &.msg-status,
    &.msg-ui,
    &.msg-own,
    &.msg-highlight .text {
        color: $color-chat-text1;
    }
    &.msg-broadcast .text {
        color: $color-text-broadcast;
    }
    &.msg-own,
    &.msg-historical,
    &.msg-broadcast,
    &.msg-whisper {
        background-color: lighten( $color-chat-bg, 5 );
    }
    &.msg-tagged {
        background-color: $color-chat-tagged;
    }
    &.msg-highlight {
        background-color: $color-chat-mentioned;
    }

    &.msg-status .text:before,
    &.msg-command .text:before,
    &.msg-info .text:before,
    &.msg-error .text:before {
        content: '';
        display: inline-block;
        vertical-align: text-top;
        margin-right: 4px;
    }
    &.msg-status .text:before {
        @extend .icon-status;
    }
    &.msg-command .text:before {
        @extend .icon-command;
    }
    &.msg-info .text:before {
        @extend .icon-info;
    }
    &.msg-error .text:before {
        @extend .icon-error;
    }

    .chat-user {
        cursor: pointer;
        position: relative;
        z-index: 120;
    }
    .chat-user:hover {
        text-decoration: underline;
    }

    &.censored .text {
        display: none;
    }
    .ctrl {
        display: none;
    }
    &.censored .ctrl {
        display: inline-block;
    }
    &.censored .ctrl:before {
        color: $color-accent;
        cursor: pointer;
        padding-left: 5px;
        content: '<censored>';
    }
    &.censored .ctrl:hover:before {
        color: white;
    }
    &.msg-historical {
        padding: 0 20px 0 10px;
    }
    &.msg-historical .time {
        display: block !important;
    }
    &.msg-historical.msg-continue .text:before {
        content: '';
    }
    &.h-start,
    &.h-end {
        padding: 0;
        display: block;
        min-height: 10px;
        background-color: lighten( $color-chat-bg, 5 );
    }
    &.h-start {
        margin-top: 10px;
        border-radius: 4px 4px 0 0;
        padding: 10px 10px 10px 10px;
        color: $color-chat-text3;
        background-color: lighten( $color-chat-bg, 9 );
    }
    &.h-end {
        margin-bottom: 10px;
        border-radius: 0 0 4px 4px;
    }

    &.msg-tagged {
        position: relative;
        padding-left: 7px;
    }
    &.msg-tagged:before {
        position: absolute;
        top:0;
        left:0;
        bottom:0;
        min-width: 4px;
        display: block;
        background: $color-black;
        content: '';
    }

    &.msg-historical.msg-tagged:before {
        background: none !important;
    }
    &.msg-tagged-green:before {
        background-color: $color-green;
    }
    &.msg-tagged-yellow:before {
        background-color: $color-yellow;
    }
    &.msg-tagged-orange:before {
        background-color: $color-orange;
    }
    &.msg-tagged-red:before {
        background-color: $color-red;
    }
    &.msg-tagged-purple:before {
        background-color: $color-purple;
    }
    &.msg-tagged-blue:before {
        background-color: $color-blue;
    }
    &.msg-tagged-sky:before {
        background-color: $color-sky;
    }
    &.msg-tagged-lime:before {
        background-color: $color-lime;
    }
    &.msg-tagged-pink:before {
        background-color: $color-pink;
    }
    &.msg-tagged-black:before {
        background-color: $color-black;
    }

    &.msg-whisper {
        margin: 1px 0;
    }
    &.msg-whisper .text {
        display: block;
        padding: 12px 8px;
    }
    &.msg-whisper a.user {
        background: $color-accent;
        padding: 1px 4px 1px 4px;
        border-radius: 2px;
        color: white;
        font-weight: normal;
    }
    &.msg-whisper a.user:hover {
        text-decoration: none;
    }

    .chat-open-whisper:hover,
    .chat-remove-whisper:hover {
        cursor: pointer;
        text-decoration: none;
        color: $color-light;
    }
}
#chat-lines {
    hr {
        margin: 8px 0;
    }

    .time {
        font-size: 11px;
        color: $color-chat-disabled;
        display: none; /* hidden by default */
    }

    .greentext {
        color: $color-green-text;
    }
}

@-webkit-keyframes flash {
    0%, 50%, 100% { opacity: 1 }
    25%, 75% { opacity: 0 }
}
@keyframes flash {
    0%, 50%, 100% { opacity: 1 }
    25%, 75% { opacity: 0 }
}
@keyframes rustle {
    from { left: 0 }
    to { left: 2px }
}
@keyframes emote-hit {
    0% { color: $color-label-admin-alt; font-size:200%; }
    1% { color: $color-light; font-size:190%; }
    2% { color: $color-label-admin-alt; font-size:200%; }
    3% { color: $color-light; font-size:190%; }
    4% { color: $color-label-admin-alt; font-size:200%; }
    100% { color: $color-light; font-size:100%; }
}
@keyframes emote-complete {
    0% { transform: translate(-10px, 0); opacity: 0;/* text-shadow: 0 0 3px rgba(white, 1);*/ }
    2% { transform: translate(10px, 0); color: white; opacity: 1;/* text-shadow: 0 0 10px rgba(white, 0.5);*/ }
    100% { transform: translate(0, 0); opacity: 1; }
}
@keyframes emote-greyout {
    0% { filter: grayscale(0) }
    75% { filter: grayscale(0) }
    100% { filter: grayscale(100%) }
}
@keyframes whisper-pulse {
    0% {
        color: white;
        background: rgba(255,255,255,0.4);
        box-shadow: 0 0 0 0 rgba(255,255,255,0.4);
    }
    70% {
        color: $color-chat-disabled;
        background:none;
        box-shadow: 0 0 0 10px rgba(255,255,255,0);
    }
    100% {
        color: $color-chat-disabled;
        box-shadow: 0 0 0 0 rgba(255,255,255,0);
    }
}

.pulse-once {
    animation: whisper-pulse 2s 1;
    border-radius:50%;
}


.chat .emotecount {
    @extend .roboto-regular;
    color: $color-light;
    font-size: 14px;
    display: inline-block;
    position: relative;
    line-height: 34px;
    i {
        font-style: normal;
        vertical-align: middle;
        line-height: 1em;
    }
    .hit,
    .combo,
    .count,
    .x {
        @extend .roboto-regular;
        text-shadow:
                -1px -1px 0 #000,
                1px -1px 0 #000,
                -1px 1px 0 #000,
                1px 1px 0 #000;
    }
    .combo {
        display: none;
        color: $text-color1;
        font-weight: normal;
    }
    .hit {
        color: $color-light;
        animation: emote-hit 600ms 1;
        font-style: italic;
        text-transform: uppercase;
        margin-left: 0;
        letter-spacing: 0.05em;
        display: inline-block;
    }
    .count {
        font-size: 16px;
        letter-spacing: -0.05em;
        font-weight: bold;
    }
    .x {
        font-size: 13px;
    }
    &.x5 {
        .count {
            font-size: 150%;
        }
    }
    &.x10 {
        .count {
            font-size: 200%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.x20 {
        .count {
            font-size: 300%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.x30 {
        .count {
            font-size: 400%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.x50 {
        .count {
            font-size: 500%;
            font-weight: bold;
        }
        .combo {
            font-weight: bold;
        }
    }
    &.combo-complete.x10,
    &.combo-complete.x20,
    &.combo-complete.x30,
    &.combo-complete.x50 {
        animation: emote-greyout 3500ms 1;
        background: transparent url("../../web/img/blood-1.png") no-repeat center center;
        background-size: 100% 100%;
        filter: grayscale(100%);
        .combo {
            color: $color-light;
            margin-left: 5px;
        }
    }
    &.combo-complete .combo {
        animation: emote-complete 1000ms 1;
        display: inline-block;
    }
    &.combo-complete .hit {
        display: none;
    }

}
.chat-emote.chat-emote-OverRustle:hover {
    animation: rustle-hover 100ms infinite;
}

#chat-input {
    padding: 2px 8px 0 8px;
}
#chat-tools-wrap {

    padding: 2px 0;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    & > div {
        height: 30px;
        overflow: hidden;
    }
    .iconbtn {
        font-size: 20px;
        cursor: pointer;
        width:30px;
        height: 28px;
        line-height: 28px;
        display: inline-block;
        text-align: center;
        color: $color-chat-disabled;
        position: relative;
    }
    .iconbtn:hover,
    .iconbtn.active{
        color: $color-chat-text1;
    }

    #chat-whisper-btn.on {
        color: $color-alert-bg;
    }
    #chat-whisper-btn.on:hover {
        color: white;
    }
}
#chat-input-wrap,
#chat-input-control {
    height: 50px;
    position: relative;
}
#chat-input-control {
    color: $color-chat-text2;
    background: $color-surface-dark1;
    outline: none;
    resize: none;
    margin: 0;
    padding: 5px;
    width: 100%;
    border: 1px solid lighten($color-surface-dark1, 9);
    border-radius: 3px;
    box-shadow: none;
    box-sizing: border-box;
    display: block;
}
#chat-input-control:focus {
    box-shadow: none;
}

/**
 * Need to keep these rules separate
 * Browsers will kill the whole line of css if one rule is invalid
 **/
#chat-input-control::-webkit-input-placeholder { color: $color-chat-disabled; }
#chat-input-control::-moz-placeholder { color: $color-chat-disabled; }
#chat-input-control:-ms-input-placeholder { color: $color-chat-disabled; }
#chat-input-control:-moz-placeholder { color: $color-chat-disabled; }

#chat-scroll-notify {
    color: $color-chat-text3;
    background: rgba($color-surface-dark3, 0.95);
    box-shadow: 0px -1px 3px rgba(0, 0, 0, 0.37);
    padding: 5px 0;
    position: absolute;
    display: none;
    bottom: 0;
    left: 6px;
    right: 6px;
    text-align: center;
    cursor: pointer;
    z-index: 130;
    border-radius: 3px;
}
#chat-scroll-notify:hover {
    color: $color-chat-text1;
}

.chat.pref-showtime #chat-lines time {
    display: inline;
}
.chat.pref-hideflairicons #chat-lines .features {
    display: none;
}

#chat-whisper-notif {
    color: $color-light;
    font-size: 11px;
    position: absolute;
    left: 100%;
}

/* Focus or highlight a line */
.chat.focus-user #chat-lines > div {
    opacity:0.3;
}
.chat.focus-user #chat-lines > div.msg-user.focused {
    opacity:1 !important;
}

/* Flair colors */
.chat a {

    &.user {
        color: $color-label-user;
    }
    &.user:hover {
        color: $color-label-user-alt;
    }

    /* T1,T2 */
    &.subscriber {
        color: $color-label-sub;
    }
    &.subscriber:hover {
        color: $color-label-sub-alt;
    }

    /* T3 */
    &.flair3 {
        color: $color-label-sub2;
    }
    &.flair3:hover {
        color: $color-label-sub2-alt;
    }

    /* T4 */
    &.flair8 {
        color: $color-label-sub3;
    }
    &.flair8:hover {
        color: $color-label-sub3-alt;
    }

    &.vip {
        color: $color-label-vip;
    }
    &.vip:hover {
        color: $color-label-vip-alt;
    }

    &.bot {
        color: $color-label-bot;
    }
    &.bot:hover {
        color: $color-label-bot-alt;
    }

    &.admin {
        color: $color-label-admin;
    }
    &.admin:hover {
        color: $color-label-admin-alt;
    }

    &.flair11 {
        color: $color-label-bot2;
    }
    &.flair11:hover {
        color: $color-label-user;
    }

    &.flair12 {
        color: $color-broadcaster;
    }
    &.flair12:hover {
        color: $color-broadcaster-alt;
    }
}


$menubottommax: 95px;
$menuwidthmax: 320px;
$menuheightmax: 420px;

/* Start menus */
.chat-menu {
    position: absolute;
    z-index: 220;

    top: 0;
    bottom: $menubottommax;
    right: 0;
    height: auto;
    width: 100%;
    max-width: $menuwidthmax;

    .toolbar h5 {
        color: $text-color1;
        padding: 10px;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
        background: $color-surface-dark4;
        border-bottom: 1px solid #121212;
        display: block;
        margin: 0;
    }
    .nano > .pane {
        width: 8px;
        right: 3px;
        top: 3px;
        bottom: 3px;
    }
    .list-wrap {
        background-color: $color-surface-dark2;
        height: 100%;
    }
    .content {
        padding: 10px 20px 10px 10px
    }
    .scrollable {
        max-height: calc(100% - 36px);
    }
    .list-wrap, .toolbar h5 {
        border-radius: 0;
    }
    .toolbar {
        position: relative;
        top: auto;
        left: auto;
    }
    .menu-close {
        float: right;
        display: inline-block;
    }
    .menu-close:hover {
        cursor: pointer;
        color: $color-light;
    }

    .form-control {
        background-color: $color-surface-dark2;
        border-color: #303030;
        color: #C0C0C0;
    }
    .form-control:focus {
        background-color: $color-surface-light1;
        border: 1px solid #CCCCCC;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        color: #555;
    }
    .form-control[disabled],.form-control[readonly],fieldset[disabled] .form-control {
        background-color: #1B1B1B;
        opacity: 1;
    }
    .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $color-chat-disabled;
    }
    .form-control::-moz-placeholder { /* Firefox 19+ */
        color: $color-chat-disabled;
    }
    .form-control:-ms-input-placeholder { /* IE 10+ */
        color: $color-chat-disabled;
    }
    .form-control:-moz-placeholder { /* Firefox 18- */
        color: $color-chat-disabled;
    }
}

.chat-menu {
    display: none;
}
.chat-menu.active {
    display: block;
}
.chat-menu.left {
    left: 0;
    right: auto;
    .list-wrap {
        box-shadow: 2px -2px 3px 0 rgba(0, 0, 0, 0.2);
    }
}
.chat-menu.right {
    right: 0;
    left: auto;
    .list-wrap {
        box-shadow: -2px 2px 3px 0 rgba(0, 0, 0, 0.2);
    }
}

#chat-emote-list {
    max-width: $menuwidthmax;
    min-width: $menuwidthmax;
    .content {
        text-align: center;
    }
    .emote-group {
        margin-right: 10px;
        margin-top: 5px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .emote {
        display: inline-block;
        padding: 4px;
    }
    .emote-group:not(.disabled) .emote:hover {
        cursor: pointer;
        background-color: rgba(255,255,255,0.1);
    }
    .chat-emote {
        top: 0;
        margin: 5px;
    }
    .content {
        outline: 0;
    }
}
#chat-whisper-users {
    max-width: $menuwidthmax;
    min-width: $menuwidthmax;
    .content > ul {
        margin: 0;
        padding: 10px 0;
    }
    .conversation {
        list-style: none;
        position: relative;
        cursor: pointer;
        padding-left: 10px;
        .user {
            color: $color-accent;
            display: block;
        }
        .user:hover {
            color: $color-accent-light;
        }
        .badge, .remove {
            float: right;
            margin-right: 10px;
        }
        .badge {
            margin-right: 5px;
        }
        .remove {
            padding: 2px;
            text-decoration: none;
        }
        .remove:hover {
            color: $color-light;
        }
    }
    .unread-0 .badge {
        display: none;
    }
    .unread-0 .user,
    .unread-0 .user:hover {
        color: $text-color1;
    }
    .empty {
        color: $text-color;
    }
}
#chat-whisper-messages {
    max-width: 85%;
    min-width: $menuwidthmax;
    .list-wrap {
        background-color: lighten($color-surface-dark2,3);
    }
    .label-danger {
        margin: 10px;
        clear: both;
    }
    .content {
        font-size: 13px;
        line-height: 24px;
        word-wrap: break-word;
    }
    time {
        font-size: 85%;
        color: $text-color2;
    }
    .chat-emote {
        vertical-align: baseline;
    }
    .label {
        font-size: 85%;
    }
    .tri {
        width: 0;
        height: 0;
        border-style: solid;
        transform:rotate(360deg);
        position: absolute;
        top: 10px;
    }
    .msg {
        position: relative;
        padding-left: 8px;
        margin: 6px 0;
    }
    .msg time {
        position: absolute;
        right:0;
        top:0;
    }
    .msg .text {
        background: darken($color-surface-dark2,5);
        padding: 8px 8px 8px 16px;
        border-radius: 6px;
        display: block;
        margin:0 40px 0 30px;
    }
    .msg .tri {
        left: auto;
        right: 32px;
        border-width: 5px 0 5px 8.7px;
        border-color: transparent transparent transparent darken($color-surface-dark2,5);
    }
    .msg.me .text {
        background: $color-surface-dark2;
        margin:0 60px 0 0;
    }
    .msg.me .tri {
        left: 0;
        border-width: 5px 8.7px 5px 0;
        border-color: transparent $color-surface-dark2 transparent transparent;
    }
}
#chat-user-list {
    .user {
        margin: 0;
        padding: 0 32px;
        display: block;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        @extend .serif-font;

        .whisper-nick {
            display: none;
            padding: 3px;
            color: $text-color2;
            position: absolute;
            top: 0;
            left: 8px;
        }
        .whisper-nick:hover {
            color: $text-color;
        }
        &:hover .whisper-nick {
            display: block;
        }
    }
    .content {
        padding: 20px 0;
    }
    .scrollable {
        /* 36 + 35 */
        max-height: calc(100% - 71px);
    }
    #chat-user-list-search {
        background: $color-surface-dark2;
        height: 40px;
        .form-control {
            background: $color-surface-dark3;
            border: none;
            border-radius: 0 0 4px 4px;
            padding-left: 20px;
            padding-right: 20px;
            height: 40px;
        }
        .form-control:focus {
            background-color: $color-surface-light1;
        }
        .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: $color-chat-text3;
        }
        .form-control::-moz-placeholder { /* Firefox 19+ */
            color: $color-chat-text3;
        }
        .form-control:-ms-input-placeholder { /* IE 10+ */
            color: $color-chat-text3;
        }
        .form-control:-moz-placeholder { /* Firefox 18- */
            color: $color-chat-text3;
        }
    }

    &.search-in .user {
        display: none;
    }
    &.search-in .user.found {
        display: block;
    }
}
#chat-settings {
    .tools {
        margin: 0;
        padding: 0;
    }

    .form-group {
        margin: 12px 20px;
    }
    .form-group:first-child {
        margin-top: 10px;
    }
    .form-group:last-child {
        margin-bottom: 10px;
    }

    hr {
        margin-left: 20px;
        margin-right: 20px;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 10px;
        padding-left: 18px;
        font-size: 85%;
        color: $text-color2;
        text-transform: uppercase;
    }
}
/* End menus */




.nano {
    position : relative;
    width    : 100%;
    height   : 100%;
    overflow : hidden;
}
.nano > .nano-content {
    overflow-anchor : none;
    position        : absolute;
    overflow        : scroll;
    overflow-x      : hidden;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
}
.nano > .nano-content:focus {
    outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
    display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block;
}
.nano > .nano-pane {
    background : transparent;
    position   : absolute;
    width      : 8px;
    right      : 4px;
    top        : 0;
    bottom     : 0;
    visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
    opacity    : .01;
    -webkit-transition    : .2s;
    -moz-transition       : .2s;
    -o-transition         : .2s;
    transition            : .2s;
    -moz-border-radius    : 5px;
    -webkit-border-radius : 5px;
    border-radius         : 5px;
}
.nano > .nano-pane > .nano-slider {
    opacity               : 0.8;
    background            : $color-surface-light2;
    position              : relative;
    margin                : 0 1px;
    -moz-border-radius    : 3px;
    -webkit-border-radius : 3px;
    border-radius         : 3px;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
    visibility : visible\9; /* Target only IE7 and IE8 with this hack */
    opacity    : 0.99;
}
