[Unit]
Description=dggupdater bans tor and refreshes the OCSP stapling in haproxy
After=network.target haproxy.service

[Service]
Type=oneshot
ExecStart=/home/sztanpet/dggupdater
#Restart=on-failure # uncomment when systemd finally supports it

[Install]
WantedBy=multi-user.target
