$body-bg-color:         #282828;
$color-light:           #cfcfcf;
$color-dark:            #201F1E;
$color-accent:          #4A8ECC;
$color-accent-light:    #4FB1F4;
$color-accent-alt:      #A66BE5;
$text-color:            #DEDEDE;
$text-color1:           #999999;
$text-color2:           #666666;
$text-color3:           #333333;
$text-color-disabled:   #494949;

$color-alert-bg:        #B91010;
$color-alert-text:      #B91010;
$color-warn-bg:         #f89406;
$color-warn-text:       #f89406;
$color-success-bg:      #4DB524;
$color-success-text:    #4DB524;

$color-surface-light1:  #FFFFFF;
$color-surface-light2:  #F5F5F5;
$color-surface-light3:  #EEEEEE;
$color-surface-dark1:   #030303;
$color-surface-dark2:   #111111;
$color-surface-dark3:   #222222;
$color-surface-dark4:   #333333;

$color-chat-text3:      #838383;
$color-chat-disabled:   #414141;

$hb-light:              #849EB5;
$hb-dark:               #30394A;


.bg-grad-main {
  background: -moz-linear-gradient(left,  $hb-light 0%, $hb-light 51%, $hb-dark 51%,$hb-dark 100%);
  background: -webkit-linear-gradient(left,  $hb-light 0%,$hb-light 51%,$hb-dark 51%,$hb-dark 100%);
  background: linear-gradient(to right,  $hb-light 0%,$hb-light 51%,$hb-dark 51%,$hb-dark 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$hb-light', endColorstr='$hb-dark',GradientType=1);
  & > .container, & > .container-fluid {
    background: -moz-linear-gradient(left,  $hb-light 0%,$hb-dark 100%);
    background: -webkit-linear-gradient(left,  $hb-light 0%,$hb-dark 100%);
    background: linear-gradient(to right,  $hb-light 0%,$hb-dark 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$hb-light', endColorstr='$hb-dark',GradientType=1 );
  }
}