@-moz-keyframes spin { 
0% { -moz-transform: rotate(0deg); }
100% { -moz-transform: rotate(-360deg); }
}
@-webkit-keyframes spin { 
0% { -webkit-transform: rotate(0deg); }
100%{ -webkit-transform: rotate(-360deg); }
}
@-webkit-keyframes whitetxtglow { 
0% { text-shadow: 0 0 0 rgba(0, 136, 204, 0); }
50% { text-shadow: 0 0 4px rgba(0,136,204,1); color: white; }
100%{ text-shadow: 0 0 4px rgba(0,136,204,0); }
}
@-moz-keyframes whitetxtglow { 
0% { text-shadow: 0 0 0 rgba(0, 136, 204, 0); }
50% { text-shadow: 0 0 4px rgba(0,136,204,1); color: white; }
100%{ text-shadow: 0 0 4px rgba(0,136,204,0); }
}

html,body {
height: 100%;	
}

body {
background: #111 url("../img/bodybg.png") repeat top center;
position: relative;
padding-top: 40px;
}

section {
margin-top: 15px;
}

#header-band {
background: url("../img/cloudbg.jpg") repeat-x top center;
background-color: rgba(0, 0, 0, 0.76);
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
margin: 0;
}

#overview {
height: 130px;
padding: 30px 30px;
color: white;
background: url("../img/destinylogoblue.png") no-repeat 20px 5px;
margin-top: 35px;
position: relative;
margin-bottom: 0;
border-radius: 0;
}

footer {
font-size: 12px;
color: #555;
text-shadow: 1px 1px 1px black;
padding: 0;
}

body.error .page-wrap {
margin: auto 0;
}

body.error #header-band {
border-bottom: 1px solid rgba(255, 255, 255, 0.1);
border-top: 1px solid rgba(255, 255, 255, 0.1);
}

body.error #header-band #overview {
padding-left: 0;
margin-top: 0;
position: relative;
background: 0;
}

body.error #header-band #overview h1 {
font-size: 42px;
font-weight: normal;
opacity: 0.9;
margin: 15px 0 10px 0;
padding: 0;
}

body.error #header-band #overview p {
font-size: 16px;
font-weight: normal;
opacity: 0.8;
line-height: 25px;
}

#destiny-illustration {
background: url(../img/destinybannerhead.large.png) no-repeat top left;
top: 0;
right: 0;
z-index: 101;
width: 500px;
height: 190px;
position: absolute;
}

i.icon-bobross {
background: url(../favicon.png) no-repeat center center;
margin-bottom: 1px;
margin-top: 0;
-webkit-transform: rotate(0deg);
-webkit-transition: all 0.2s ease-in-out;
-moz-transition: all 0.2s ease-in-out;
-o-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
}
a:hover i.icon-bobross,.dropdown.open>a i.icon-bobross {
-moz-animation: spin 3s infinite linear;
-webkit-animation: spin 3s infinite linear;
}