/* glue: 0.9.4 hash: d0bc0a85ba */
/* start destiny.gg */
.sponsor-videogamevotersnetwork,.sponsor-jordwoodwatches,.sponsor-breakingoutinvitational,.sponsor-letskungfu{
    background-image:url('../img/sponsors.png');
    background-repeat:no-repeat;
}

.sponsor-videogamevotersnetwork{
    background-position:0 0;
    width:230px;
    height:220px;
}

.sponsor-jordwoodwatches{
    background-position:-230px 0;
    width:230px;
    height:220px;
}

.sponsor-breakingoutinvitational{
    background-position:0 -220px;
    width:230px;
    height:220px;
}

.sponsor-letskungfu{
    background-position:-230px -220px;
    width:204px;
    height:220px;
}
